.project-page

	.main // не забываем, что это дополнение .main в папке index

		&__title
			max-width: 15em
			span
				color: $light
				font-size: $mh3
				display: block
				margin-bottom: 5px

			b
				font-size: 30px
				padding: 3px 5px 6px
				display: inline-block
				line-height: 1
				color: $light
				background-color: $accent
				&:first-of-type
					padding-right: .25em
				&:last-of-type
					padding-left: 0
					z-index: 0
