.not-found
	height: calc(100% - #{$top})
	top: $top

	display: flex
	flex-direction: column

	.container
		flex-grow: 1
		padding-bottom: 0
	
	&__title
		+flex-center()
		margin: 4.5em 0 3.5em

	&__description
		display: flex
		flex-direction: column
		align-items: center

	&__pattern
		width: 100%
		height: 22.5vh
		opacity: .5

		background-image: url(../img/pattern-404.svg)
		background-size: cover
		background-repeat: repeat