extends ../layout/main

block variables
	- var title = 'Про компанію — ARS-DIM'
	- var description = 'Інвестиційно-будівельна компанія ARS-DIM. Продаж нерухомості в Івано-Франківську, квартири в Івано-Франківську, металопластикові вікна, двері, квартири економ та преміум класу, приміщення комерційного призначення, будівництво житлових будинків в місті Івано-Франківськ та Закарпатті'
	- var keywords = 'Інвестиційно-будівельна компанія АРС-ДІМ, ПП АРС-ДІМ, нерухомість ІВАНО-ФРАНКІВСЬК, первинний ринок В ІВАНО-ФРАНКІВСЬКУ, будівництво житлових будинків, продаж оренда купівля житла, Івано-Франківськ, продаж квартир економ та перміум класу В ІВАНО-ФРАНКІВСЬК, бруківка СТАРЕ МІСТО, тротуарна плитка'
	- var ogImage = '/img/bg/ars-dim_640.jpg'
	- var pageClass = 'about-us-page'

block content
	include about-us/01-main
	include about-us/02-about
	include about-us/04-history
	include about-us/05-team
	include about-us/08-callback
