extends ../layout/main

block variables
	- var title = 'Контакти — ARS-DIM'
	- var description = 'м. Івано-Франківськ, площа Ринок, 14 (4 поверх)'
	- var keywords = 'АРС-ДІМ, КОНТАКТИ ТА АДРЕСА, НЕРУХОМІСТЬ В ІВАНО-ФРАНКІВСЬКУ, КВАРТИРИ В ІВАНО-ФРАНКІВСЬКУ'
	- var ogImage = '/img/bg/ars-dim_640.jpg'
	- var pageClass = 'contacts-page'

block content
	include contacts/01-callback
