extends ../layout/main

block variables
	- var title = 'ARS-DIM'
	- var description = 'Будівельна компанія ARS-DIM, Івано-Франківськ. Нерухомість, квартири, новобудови, продаж та будівництво квартир, житлових, офісно-представницьких та обєктів побутового призначення'
	- var keywords = 'АРС-ДІМ, нерухомість, Івано-Франківськ, продаж нерухомості, квартири, куплю, квартиру, в Івано-Франківську, новобудови, тротуарна плитка, будівництво, оренда'
	- var ogImage = '/img/bg/ars-dim_640.jpg'
	- var pageClass = 'index-page'

block content
	include index/01-main
	include index/02-projects
	//- include index/02.5-done.pug
	include index/03-about
	include index/03.5-advantages.pug
	include index/04-callback
