extends ../layout/main

block variables
	- var title = 'Кленовий Парк — ARS-DIM'
	- var description = 'Сучасний житловий комплекс у Трускавці по вул. Данилишиних'
	- var ogImage = '/img/bg/klenovyi-park-3_640.jpg'
	- var pageClass = 'project-page klenovyi-park-page'

block content
	include ../modules/video
	include klenovyi-park/01-main
	include klenovyi-park/02-about
	include klenovyi-park/03-advantages
	include klenovyi-park/04-stage
	include klenovyi-park/05-info
	include klenovyi-park/06-flats
	include klenovyi-park/06.5-included.pug
	include klenovyi-park/07-course
	include klenovyi-park/07.5-webcam.pug
	include klenovyi-park/08-callback
	include klenovyi-park/08.5-sales.pug
	//- include klenovyi-park/09-another-projects
block script
