//- этой страницы больше нет
//- extends ../layout/main

block variables
	- var title = 'Печеніжин — ARS-DIM'
	- var pageClass = 'project-page'

//- block content
//- 	include pechenijin/01-main
//- 	include pechenijin/02-about
//- 	include pechenijin/05-info
//- 	include pechenijin/08-callback
//- 	include pechenijin/09-another-projects
