extends ../layout/main

block variables
	- var title = 'Проекти — ARS-DIM'
	- var description = 'Активні і вже збудовані об’єкти'
	- var ogImage = '/img/bg/klenovyi-park-2_640.jpg'
	- var pageClass = 'projects-page'

block content
	include projects/01-current
	include projects/02-done
