extends ../layout/main

block variables
	- var title = 'Звіти — ARS-DIM'
	- var description = 'Квартальні та річні звіти компанії «ARS-DIM»'
	- var keywords = 'Квартальні зіти, річні звіти'
	- var ogImage = '/img/bg/ars-dim_640.jpg'
	- var pageClass = 'reports-page'

block content
	include reports/01-reports
