extends ../layout/main

block variables
  - var title = 'Вишневий Сад — ARS-DIM'
  - var description = 'Будівельна компанія ARS·DIM, Івано-Франківськ. Нерухомість, квартири, новобудови, продаж та будівництво квартир, житлових, офісно-представницьких та обєктів побутового призначення'
  - var ogImage = '/img/bg/vyshnevyj-sad-3_640.jpg'
  - var pageClass = 'project-page vyshnevyj-sad-page'

block content
  include vyshnevyj-sad/01-main
  include vyshnevyj-sad/02-about
  include vyshnevyj-sad/03-advantages
  include vyshnevyj-sad/04-stage
  include vyshnevyj-sad/05-info
  include vyshnevyj-sad/06-flats
  include vyshnevyj-sad/06.5-included.pug
  include vyshnevyj-sad/07-course
  include vyshnevyj-sad/07.5-webcam.pug
  include vyshnevyj-sad/08-callback
  include vyshnevyj-sad/08.5-sales.pug
block script
