+b.SECTION.main(data-parallax="scroll" data-image-src="../img/bg/vyshnevyj-sad_1920.jpg")
	.container
		+e.title.animated
			h1.visually-hidden ЖК «Вишневий Сад»
			+e.P.image-wrapper
				img(src="../img/vyshneviy-sad-shadow_new.svg", alt="ЖК «Вишневий сад»")
			h2 Квартири комфорт-класу в Дрогобичі

		+e.ADDRES.location
			+icon('contacts')
			p м. Дрогобич, вул. Сахарова
