+b.SECTION.stage
	.container(data-ur-set='tabs').animated

		+e.title
			h3 Готовність об’єкту #[+e.B.readiness 0%]

		+e.OL.tabs
			each object in data.klenovaAleyaReadiness
				+e.LI.tab-wrapper
					+e.BUTTON.tab(data-ur-tabs-component='button' data-ur-tab-id= object['queueID'] data-ur-state= object['data-ur-state'] data-price= object['price'] data-address= object['address'] data-completed= object['completed_at'])= object['queueName']

		each object in data.klenovaAleyaReadiness
			+e.content(data-ur-tabs-component='content' data-ur-tab-id= object['queueID'] data-ur-state= object['data-ur-state'])
				+b.FIGURE.counter.__counter
					+e.SVG.circle-chart(viewbox="0 0 35.83098862 35.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg")
						+e.CIRCLE.background(stroke="#f2f2f2" stroke-width="4" fill="none" cx="17.91549431" cy="17.91549431" r="15.91549431")
						+e.CIRCLE.circle(stroke="#048e2c" stroke-width="4" stroke-dasharray="0,100" stroke-linecap="round" fill="none" cx="17.91549431" cy="17.91549431" r="15.91549431")
						+e.SPAN.num(data-readiness=object['readiness']) 0

				+b.description
					+e.B.title Виконано:
					+e.UL.list
						+e.LI.item
							+e.P.text Влаштування внутрішніх мереж
						+e.LI.item
							+e.P.text Спорудження 4 поверхів
						+e.LI.item
							+e.P.text Підведення зовнішніх мереж
						+e.LI.item
							+e.P.text Влаштування внутрішніх мереж
						+e.LI.item
							+e.P.text Спорудження 4 поверхів
						+e.LI.item
							+e.P.text Підведення зовнішніх мереж
						+e.LI.item
							+e.P.text Влаштування внутрішніх мереж зовнішніх мереж
						+e.LI.item
							+e.P.text Спорудження 4 поверхів
						+e.LI.item
							+e.P.text Підведення зовнішніх мереж
						+e.LI.item
							+e.P.text Щось новеньке

				+b.description
					+e.B.title Виконується:
					+e.UL.list
						+e.LI.item
							+e.P.text Спорудження 5 – 6 поверхів
						+e.LI.item
							+e.P.text Мурування стін
						+e.LI.item
							+e.P.text Спорудження 5 – 6 поверхів
						+e.LI.item
							+e.P.text Мурування стін
						+e.LI.item
							+e.P.text Спорудження 5 – 6 поверхів
						+e.LI.item
							+e.P.text Мурування стін
