+b.SECTION.course
	.container(data-ur-set='tabs').animated

		+e.title
			h3 Хід будівництва

		+e.OL.tabs
			each queue, index in klenova.queues
				+e.LI.tab-wrapper
					+e.BUTTON.tab(data-ur-tabs-component='button' data-ur-tab-id= 'tab-queue-'+queue['id'] data-ur-state= (index==0)?'enabled':'disabled')= queue['name']

		each queue, index in klenova.queues
			- var queue_flats = klenova.flats.filter(flat => flat.queue_id==queue.id);
			+e.content(data-ur-tabs-component='content' data-ur-tab-id= 'tab-queue-'+queue['id'] data-ur-state= (index==0)?'enabled':'disabled')

				+b.slider--horizontal.__slider.swiper-container.swiper-container-h
					+e.OL.wrapper.swiper-wrapper
						+e.LI.slide.swiper-slide(data-caption='03.18')
							img.swiper-lazy(data-src='../img/projects/klenovyi-park/01.jpg' alt='Хід будівництва, 03.18' src='//:0')
							.swiper-lazy-preloader
						+e.LI.slide.swiper-slide(data-caption='04.18')
							img.swiper-lazy(data-src='../img/projects/klenovyi-park/02.jpg' alt='Хід будівництва, 04.18' src='//:0')
							.swiper-lazy-preloader

					+e.OL.pagination.swiper-pagination