+b.SECTION.webcam
	.container(data-ur-set='tabs').animated

		+e.title
			h3 Веб-камера

		+e.wrapper
			+e.IFRAME.iframe.lazyload(
				data-src='https://edge01.kirillovka.ks.ua/tru9/embed.html',
				width='640',
				height='480',
				style='border:0',
				allowfullscreen,
				frameborder='0')