+b.sales
	.container
		+e.title.animated
			h3 Відділ продажу
			address м. Трускавець, вул. Данилишиних
			+e.UL.main-tel-wrapper
				+e.LI.list-item
					+e.A.main-tel(href='tel:+380951010888') +380 (95) 10-10-888
				+e.LI.list-item
					+e.A.main-tel(href='tel:+380951010888') +380 (95) 10-10-888

		+e.UL.list
			each i in data.klenovaAleyaSales
				+b.LI.card.__card.animated
					+e.A.tel-wrapper(href='tel:' + i['tel'])
						+e.image-wrapper.loading
							img.lazyload(
								data-srcset= i['img_480'] + ' 480w, ' + i['img_960'] + ' 960w',
								data-src= i['img_240'],
								src='//:0',
								alt= i['name'])
						+e.text
							+e.H4.name= i['name']
							+e.SPAN.role= i['role']
							+e.SPAN.tel= i['tel']
