+b.SECTION.main( data-parallax="scroll" data-image-src="../img/bg/ars-dim_1920.jpg" data-position-x="right" data-position-y="top")
	.container
		+e.title.animated
			h2 АРС-ДІМ — це десятки професіоналів та сотні задоволених родин
