+b.SECTION.about
	.container.animated
		each object in data.aboutUsAbout
			+e.title
				h3= object['h3']
			+e.text
				p= object['text']
			+e.A.link(href= object['src'], title='На сторінку звітів')
				span= object['title']
			
