+b.SECTION.history
	
	.container.animated

		+e.title
			h3 Історія компанії

		.swiper-container

			ul.swiper-wrapper

				li.swiper-slide.swiper-lazy(data-background="../img/projects/history/rynok-14_720.jpg", data-caption="2003")
					+e.img
						img.swiper-lazy(
							data-srcset="../img/projects/history/rynok-14_360.jpg 360w, ../img/projects/history/rynok-14_720.jpg 720w, ../img/projects/history/rynok-14_1440.jpg 1440w, ../img/projects/history/rynok-14_2560.jpg 2560w", data-src="../img/projects/history/rynok-14_360.jpg", 
							alt="Торгово-офісний центр «АРС-ДІМ»", src="//:0")
						.swiper-lazy-preloader
						+e.TIME.img-year(datetime="2003") 2003 рік
					+e.description
						h4 Торгово-офісний центр «АРС-ДІМ» на пл. Ринок, 14
						p Загальна площа будівлі 2645,5 м²

				//- li.swiper-slide.swiper-lazy(data-background="../img/projects/history/mihnovskogo-18.jpg", data-caption="2004")
				//- 	+e.img
				//- 		img(data-src="../img/projects/history/mihnovskogo-18.jpg", alt="Житловий будинок на вул. Міхновського, 18", src="//:0").swiper-lazy
				//- 		.swiper-lazy-preloader
				//- 		+e.TIME.img-year(datetime="2004") 2004 рік
				//- 	+e.description
				//- 		h4 Житловий будинок на вул. Міхновського, 18
				//- 		p Загальна площа будівлі 2695,3 м²

				//- li.swiper-slide.swiper-lazy(data-background="../img/projects/history/grundvalska-4a.jpg", data-caption="2005")
				//- 	+e.img
				//- 		img(data-src="../img/projects/history/grundvalska-4a.jpg",  alt="Житловий будинок на вул. Грюнвальдська, 4а", src="//:0").swiper-lazy
				//- 		.swiper-lazy-preloader
				//- 		+e.TIME.img-year(datetime="2005") 2005 рік
				//- 	+e.description
				//- 		h4 Житловий будинок на вул. Грюнвальдська, 4а
				//- 		p Загальна площа будівлі 1716,4 м²

				//- li.swiper-slide.swiper-lazy(data-background="../img/projects/history/nadrichna-221.jpg", data-caption="2009")
				//- 	+e.img
				//- 		img(data-src="../img/projects/history/nadrichna-221.jpg", alt="Житловий будинок на вул. Надрічна, 221", src="//:0").swiper-lazy
				//- 		.swiper-lazy-preloader
				//- 		+e.TIME.img-year(datetime="2009") 2009 рік
				//- 	+e.description
				//- 		h4 Житловий будинок на вул. Надрічна, 221
				//- 		p Загальна площа будівлі 4385,2 м²

				//- li.swiper-slide.swiper-lazy(data-background="../img/projects/history/grundvalska-4a.jpg", data-caption="2012")
				//- 	+e.img
				//- 		img(data-src="../img/projects/history/sakharova-25a.jpg",  alt="Житловий будинок на вул. Сахарова, 25а", src="//:0").swiper-lazy
				//- 		.swiper-lazy-preloader
				//- 		+e.TIME.img-year(datetime="2012") 2012 рік
				//- 	+e.description
				//- 		h4 Житловий будинок на вул. Сахарова, 25а
				//- 		p Загальна площа будівлі 5598,5 м²

				//- li.swiper-slide.swiper-lazy(data-background="../img/projects/history/grundvalska-4a.jpg", data-caption="2014")
				//- 	+e.img
				//- 		img(data-src="../img/projects/history/nadrichna-2a.jpg", alt="Житловий будинок на вул. Надрічна, 2", src="//:0").swiper-lazy
				//- 		.swiper-lazy-preloader
				//- 		+e.TIME.img-year(datetime="2014") 2014 рік
				//- 	+e.description
				//- 		h4 Житловий будинок на вул. Надрічна, 2
				//- 		p Загальна площа будівлі 3727,4 м²



			ol.swiper-pagination
				//- span(class="tab__link ") 2000
				//- span(class="tab__link ") 2001
				//- span(class="tab__link ") 2002
				//- span(class="tab__link ") 2003