+b.SECTION.team
	.container
		
		+e.title.animated
			h3 Команда
		
		+e.UL.content
			each object in data.aboutUsTeam
				+e.LI.person-block.animated
					+e.image-wrapper.loading
						+e.IMG.person-image.lazyload(
							data-srcset= object['image_540'] + ' 540w, ' + object['image_1080'] + ' 1080w',
							data-src= object['image_270'],
							alt= object['name'])
					+e.text
						h4= object['name']
						span= object['role']