+b.SECTION.callback

	.container
			
		+e.map
			iframe.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.409761126943!2d24.710868344804922!3d48.92226893300007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c16caa43ff0b%3A0x4680af2dae28f3b3!2sArs-Dim!5e0!3m2!1sru!2sua!4v1519489930320" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
		include ../../modules/callback-form
		include ../../modules/contacts-block
