.button
	min-width: 280px
	min-height: 70px

	display: inline-flex
	align-items: center
	justify-content: center
	padding: 0

	font-size: $sm
	font-family: $def-font
	font-weight: $bold
	letter-spacing: .4px
	color: $accent

	border: 0
	background-color: #fff
	box-shadow: none
	border-radius: 5px

	cursor: pointer
	user-select: none
	+border-none()

	span
		position: relative
		display: inline-block
		transition: all .25s ease-out
		&::after
			content: '→'
			position: absolute
			top: 0
			right: 10px

			filter: opacity(0)
			transition: all .25s ease-out

	&:hover, &:focus
		span
			padding-right: 25px
			&::after
				right: 0

				filter: opacity(1)

	&--white
		box-shadow: 0 4px 4px rgba($accent, .15)
		background-color: #fff
		color: $accent
		transition: .25s ease-out
		&:hover, &:focus
			box-shadow: 0 10px 15px rgba($accent, .15)

		&:active
			box-shadow: none
			background-color: darken(#fff, 5%)

	&--data
		background-color: #fff
		color: $accent
		transition: .25s ease-out
		cursor: default
		border-radius: 100px

	&--blue
		box-shadow: 0 4px 4px rgba(0, 127, 255, .25)
		background-color: $accent
		color: $light
		transition: .25s ease-out
		&:hover, &:focus
			box-shadow: 0 10px 15px rgba(0, 127, 255, .25)

		&:active
			box-shadow: none
			background-color: darken($accent, 5%)

	&:disabled
		background-color: #bdbdbd
		box-shadow: none
		pointer-events: none

	&--green
		color: $light

		background-color: $green
		box-shadow: 0px 4px 10px rgba(4, 142, 44, 0.25)
		transition: .25s ease-out

		&:hover,
		&:focus
			box-shadow: 0px 4px 15px rgba(4, 142, 44, 0.5)

		&:active
			background-color: darken($green,5%)

	&--cherry
		color: $light

		background-color: $feat_vyshnevyj
		box-shadow: 0px 4px 10px rgba(4, 142, 44, 0.25)
		transition: .25s ease-out

		&:hover,
		&:focus
			box-shadow: 0px 4px 15px rgba(4, 142, 44, 0.5)

		&:active
			background-color: darken($feat_vyshnevyj,5%)

	&--video
		color: $feat

		box-shadow: 0 4px 4px rgba($feat, .15)

		span
			display: flex
			align-items: center

			font-size: 14px !important
			font-weight: 700
			line-height: 1.15 !important
			color: inherit
			letter-spacing: .0320542em

			&::before
				content: ""

				display: inline-block
				width: 0
				height: 0
				margin-right: 15px

				border-style: solid
				border-width: 9px 0 9px 18px
				border-color: transparent transparent transparent $feat

			&::after
				display: none

		&:hover,
		&:focus,
			box-shadow: 0 8px 8px rgba($feat, .25)

			span
				padding-right: 0

		&:active
			box-shadow: none
			background-color: darken(#fff, 5%)

.pdf
	display: flex
	justify-content: space-around
	align-items: center
	max-width: 220px
	width: 100%
	height: 70px
	padding: 0 30px
	margin: auto
	color: inherit
	border-bottom: 0
	white-space: pre-line //делаем хитрый <br>
	background: #fff
	box-shadow: 0 5px 10px rgba($accent, .15)
	border-radius: 5px
	transition: .25s ease-out
	+border-none()

	span
		font-size: $msm
		margin-left: 20px

	svg
		width: 25px
		height: 30px
		fill: $accent

	&:hover, &:active
		box-shadow: 0 10px 15px rgba($accent, .25)

	&:active
		box-shadow: none
		background-color: darken(#fff, 5%)
