.callback-form
	position: relative
	z-index: 3

	display: flex
	flex-direction: column
	max-width: 320px
	width: 100%
	margin: auto
	margin-bottom: 30px
	padding: 20px 17px 50px //padding по бокам 17px

	color: $light

	background-color: $def-color
	border-radius: 5px
	box-shadow: 0 5px 15px 0 rgba(2, 24, 43, .5)

	animation-duration: 1.5s
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	& *
		outline: none

	&__title

		h4
			margin-bottom: 36px

			font-size: $h3
			font-weight: $bold

	p
		position: relative

		display: flex
		flex-direction: column


	input
		min-height: 1.6em
		margin-bottom: 40px

		color: inherit

		background-color: inherit
		border: 0
		border-bottom: 1px solid $accent
		border-radius: 0

		transition: border-color .4s

		&:focus ~ label,
		&:valid ~ label,
		&.invalid ~ label
			top: -1.6em

			font-size: 12px


	label
		position: absolute
		top: 0
		left: 0

		font-size: 16px
		letter-spacing: .3px

		transition: all .4s ease
		pointer-events: none


	textarea
		height: 27px
		min-height: 1.6em
		max-height: 12em
		margin-bottom: 40px

		color: inherit
		font: inherit

		background-color: transparent
		border: 0
		border-bottom: 1px solid $accent
		border-radius: 0

		overflow-x: hidden

		& ~ label
			top: -6px

		&:focus ~ label,
		&:valid:not(:placeholder-shown) ~ label
			top: -1.6em

			font-size: 12px

	&__button
		z-index: 2 // иначе не виднно в Firefox

		width: 61px
		height: 61px
		margin-left: auto
		margin-right: 10px

		background-color: $accent
		border-radius: 50%
		border: 0
		box-shadow: 0 5px 15px rgba(0, 127, 255, .25)

		transition: all .4s

		cursor: pointer

		.icon
			width: 23.2px
			height: 23.2px

			fill: #fff
			transform: translateX(4px)
			transition: all .2s

		&:hover,
		&:focus
			box-shadow: 0 10px 15px rgba(0, 127, 255, .25)
			transition: all .4s

			.icon
				transform: translateX(0)
				transition: all .4s


		&:active
			box-shadow: none
			background-color: darken($accent, 5%)

			.icon
				transform: translateX(4px)
				transition: transform .2s

	&__pop-up
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 0

		color: #fff

		+flex-center()
		width: 100%
		height: 100%

		background-color: $def-color
		border-radius: 5px
		filter: opacity(0)

		transition: all .5s ease

		&.active
			z-index: 2

			filter: opacity(1)
			transition: all .5s ease

			& ~ *
				// filter: blur(2px) opacity(.2)
				pointer-events: none
