.counter
	max-width: 170px
	position: relative

	&__circle-chart // прогрессбар

	&__circle
		transform: rotate(-250deg)
		transform-origin: center

		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&__num
		position: absolute
		display: inline-block
		top: 30px
		left: 60px

		font-size: 52px
		font-weight: $bold
		letter-spacing: .118182em
		line-height: 1

	&__info
		position: absolute
		top: 85px
		left: 65px

		display: inline-block

		font-weight: $bold
		font-size: $msm
		line-height: 1


@keyframes circle-chart-fill
	to
		stroke-dasharray: 0 100