.footer
	background-color: $light
	.container
		z-index: 11
		background-color: $light

	&__made-by
		fill: $grey
		display: flex
		flex-direction: column
		align-items: flex-end

		a
			fill: $grey
			color: $grey
			border-bottom: 0
			display: flex
			align-items: baseline
			margin-bottom: 10px
			+border-none()

			span
				font-size: 18px
				display: inline-flex
				margin-right: .3em
				
			.icon-kontora
				height: 24px
				width: 120px

		.icon-made-in-if_uk
			width: 245px
			height: 24px
