.header
	z-index: 1001
	position: fixed

	width: 100%

	background-color: #fff
	box-shadow: 0 5px 10px 0 rgba(0, 127, 255, .15)

	.container
		display: flex
		justify-content: space-between
		align-items: center
		padding: 14px 4%

	&__logo
		svg
			width: 120px
			height: 25.5px

		img.klenovyi-park,
		img.vyshnevyj-sad
			display: none
	
	&__tel
		order: 2

		a
			line-height: 1
			
			+border-none()
			padding: .5em

			&:hover,
			&:focus
				padding: .5em
				
				color: $accent
				
			&:last-child
				margin-right: 0
				padding-right: 0

	&__nav
		display: none // mobile
		a
			margin-right: calc(30px - .5em)
			line-height: 1
			+border-none()
			padding: .5em
			color: $grey
			&:last-child
				margin-right: 0
				padding-right: 0
			&:hover,
			&:focus
				color: $accent

			.icon-home
				width: 12px
				height: 10px
				fill: $grey
				&:hover, &:focus
					fill: $accent

// настройки страницы «Кленовая Алея»
.klenovyi-park-page
	.header

		img
			display: none

		img.klenovyi-park
			display: block !important

		&__nav
			a
				&:hover, &:focus
					color: $feat

				.icon-home
					&:hover, &:focus
						fill: $feat

		&__tel

			a
				color: $feat

				&:hover,
				&:focus
					color: $feat
.vyshnevyj-sad-page
	$feat: $feat_vyshnevyj
	.header

		img
			display: none

		img.vyshnevyj-sad
			display: block !important

		&__nav
			a
				&:hover, &:focus
					color: $feat

				.icon-home
					&:hover, &:focus
						fill: $feat

		&__tel

			a
				color: $feat

				&:hover,
				&:focus
					color: $feat


// отключаем ссылку на перезагрузку страницы
.index-page .header__logo
	pointer-events: none
