.nav-moblie
	position: fixed
	z-index: 10
	bottom: 0
	width: 100%
	background-color: #fff
	box-shadow: 0 -5px 10px 0 rgba(0, 127, 255, .15)

	animation-duration: .5s

	.container
		padding: 10px 4% 13px
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	a
		display: flex
		flex-direction: column
		border-bottom: 0
		align-items: center
		color: $inactive
		font-size: 14px
		+border-none()

		.icon
			fill: $inactive

		.icon-home
			width: 23.53px
			height: 20px

		.icon-projects
			width: 22.2px
			height: 20px

		.icon-about
			width: 31.4px
			height: 20px

		.icon-contacts
			width: 14.12px
			height: 20px
