.information
	position: absolute

	// min-width: 100px

	color: $def-color
	font-size: 12px
	font-weight: normal
	text-align: left

	border-radius: 20px 20px 20px 0px
	background-color: #fff
	box-shadow: -5px 10px 20px rgba(2, 24, 43, 0.5)

	visibility: hidden
	z-index: 3

	&::before
		content: ''
		position: absolute
		top: auto
		right: auto
		bottom: -10px
		left: auto

		display: inline-block
		width: 0
		height: 0

		border-style: solid
		border-width: 10px 0px 10px 20px
		border-color: transparent transparent transparent #fff

	.container
		display: flex
		flex-direction: column !important

	&__title
		font-size: 16px

	&__description
		color: $grey

	&__contacts

		strong
			font-size: 16px
			display: block
			margin-bottom: 10px

		a
			display: block

			+border-none()

			&:not(:last-of-type)
				margin-bottom: 10px

	&--top-right
		top: 30px
		left: auto
		right: 5px
		bottom: auto

		width: 289px

		opacity: 0
		border-radius: 20px 0 20px 20px

		transition: all .5s ease

		&::before
			top: -10px
			right: 0
			bottom: auto
			left: auto
			border-width: 10px 20px 10px 0
			border-color: transparent #fff transparent transparent

	&--open
		visibility: visible
		opacity: 1