.sales-block
	background-color: #fff
	// box-shadow: 0 5px 15px rgba($feat, .15)
	border-radius: 5px
	max-width: 310px
	width: 100%
	z-index: 2

	animation-duration: 1.5s
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&__title
		h4
			font-size: 24px
			font-weight: $bold
			margin-bottom: 16px

	&__content
		display: flex
		flex-direction: column

	&__tel, &__mail
		margin-bottom: 5px
		a
			font-size: 14px

	&__tel
		margin-bottom: 0 // чтобы визуально выровнять отступы
		a
			color: $def-color
			+border-none()
	
	&__mail

		a
			color: $def-color

	&__address
		margin-bottom: 20px
		address
			font-size: 14px
			font-style: normal
