.video
  position: fixed
  z-index: 10

  display: none
  width: 100%
  height: 100%

  &::before
    content: ""
    +absolute-all(0)

    background-color: #000

  &__container
    position: relative
    width: 100%
    height: 100%

  &__close
    position: absolute
    right: 2.5%
    top: 2.5%
    z-index: 1

    background-color: transparent
    border: 0

    cursor: pointer

    &:hover,
    &:focus,
    &:active

      .icon
        fill: rgba(#fff, .7)

        transition-duration: 0s

    +bp-min(600)
      right: .5%
      top: .5%

  .icon-cancel
    width: 25px
    height: 25px

    fill: rgba(#fff, .4)

    transition: fill .25s ease-out

  &__wrapper
    +absolute-center()
    position: relative

    padding-bottom: 720 / 1280 * 100%

    overflow: hidden

    +bp-min(1024)
      height: 600px

    iframe
      position: absolute
      top: 0
      left: 0

      height: 100%
      width: 100%

  &--opened
    display: block
