+b.SECTION.main(data-parallax="scroll" data-image-src="../img/bg/klenovyi-park-3_1920.jpg")
	.container
		+e.title.animated
			h1.visually-hidden ЖК «Кленовий Парк»
			+e.P.image-wrapper
				img(src="../img/klenovyi-park-shadow.svg", alt="ЖК «Кленовий Парк»")
			h2 Живи на курорті!

			+e.BUTTON.button.button--video(data-video-id='QgOXIEhHU1Y')
				span Відео-презентація

		+e.ADDRES.location
			+icon('contacts')
			p м. Трускавець, вул. Данилишиних
