+b.SECTION.advantages
	.container
		+e.title.visually-hidden
			h3 Переваги
		each object in data.klenovaAleyaAdvantages
			+e.LI.block.animated
				+icon(object['icon'])
				h4= object['h4']
				p= object['text']
