+b.SECTION.flats

	.container(data-ur-set='tabs').animated

		+e.title
			h3 Обери свою квартиру

		+e.OL.tabs
			each queue, index in klenova.queues
				+e.LI.tab-wrapper
					+e.BUTTON.tab(data-ur-tabs-component='button' data-ur-tab-id= 'tab-queue-'+queue['id'] data-ur-state= (index==0)?'enabled':'disabled')= queue['name']

		each queue, index in klenova.queues
			- var queue_flats = klenova.flats.filter(flat => flat.queue_id==queue.id);
			each flat in queue_flats
							include ../../modules/information.pug
								block content
									table
										thead
											+e.TR.wrapper
												+e.TH.table-head
													b 9-кімнатна квартира — 99,9 м²
										tbody
											each option in flat.options
												+e.TR.table-row
													td=option
			+e.content(data-ur-tabs-component='content' data-ur-tab-id= 'tab-queue-'+queue['id'] data-ur-state= (index==0)?'enabled':'disabled')
				+e.holder
					+e.wrapper
						+e.image-wrapper
							+e.IMG.img(src= queue['image'], alt= queue['activeStage'])
							svg(viewBox= queue['viewBox'])
								each flat in queue_flats
									+e.PATH.path(d= flat['svg_path_d'], data-flat-id= flat['id'])
					+b.room.__room
						each flat in queue_flats
							+e.wrapper(data-flat-id= flat['id'])
								+e.title
									+e.H4.text=flat['name']
									+e.B.area=flat['area']
								+e.image-wrapper.loading
									img.lazyload(
										data-srcset= flat['image_588'] + ' 588w, ' + flat['image_1000'] + ' 1000w'
										data-src= flat['image_294'],
										src='//:0',
										alt= flat['name'])
								+e.description
									+e.table-wrapper
										table
											thead
												tr
													+e.TH.table-head Комплектація:
											tbody
												each option in flat.options
													+e.TR.table-row
														td=option
									+b.level.__level
										+e.P.title Наявність:
										+e.OL.list
											- for (var x = 9; x > 0; x--)
												- if( flat['on_floors'].includes(x) )
													+e.LI.floor--active #{x}-й поверх
														+icon("check")
												- else
													+e.LI.floor #{x}-й поверх
														+icon("cross")

								+e.A.button.button--green(href="#linkFlats") Записатись на показ
