+b.SECTION.included
  .container.animated
    +e.title
      h3 Що входить у вартість квартири

    +e.UL.list
      +e.LI.item-wrapper--brickwall
        +e.P.item Штукатурка стін та стяжка
      +e.LI.item-wrapper--window
        +e.P.item Зовнішнє скління лоджій і балконів
      +e.LI.item-wrapper--counters
        +e.P.item Внутрішньо-будинкові мережі до лічильників
      +e.LI.item-wrapper--door
        +e.P.item Вхідні броньовані двері
      +e.LI.item-wrapper--cctv
        +e.P.item Відеонагляд в місцях загального користування
