+b.SECTION.callback
	.container

		+e.title
			h3 Локація та інфраструктура

		+e.map#map
			input(type="hidden" name="lat" value="49.279074")
			input(type="hidden" name="lng" value="23.529895")
			input(type="hidden" name="project_name" value="ЖК «Кленовий Парк»")
			//- iframe.lazyload(data-src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1301.429355594448!2d23.52989505528554!3d49.2790743911357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1524752047050" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
		include ../../modules/callback-form
