+b.SECTION.another-projects

	.container

		+e.title
			h3 Активні проекти

		+e.content
			each object in data.pechenijinInfo
				+b.A.project-block(href="/pechenijin.html")
					+e.IMG.bg.lazyload(data-src= object['image'], alt= object['name'])
					+e.text
						+e.name 
							h4= object['name'] 
						+e.ADDRESS.description
							span= object['place1']
							span= object['place2']
