+b.SECTION.current
	.container
		+e.title
			h2 Проекти
		
		+e.content
			each object in data.projectsCurrent 
				+b.project-block
					+e.image-wrapper.loading
						+e.IMG.bg.lazyload(
							data-srcset= object['image_320'] + ' 320w, ' + object['image_640'] + ' 640w, ' + object['image_1280'] + ' 1280w, ' + object['image_1920'] + ' 1920w',
							data-src= object['image_640'],
							alt= object['name'])
					+e.text
						+e.name
							h4= object['name']
						+e.ADDRESS.description
							span= object['place1']
							span= object['place2']
						+e.cost-and-stage
							+e.cost
								+e.B.cost-price= object['costPrice']
								+e.B.cost-what= object['costWhat']
							+e.stage
								+icon(object['stageIcon'])
								span(class= object['stageClass'])= object['stageTitle']
						+e.advantages
							+e.advantages-item
								+icon(object['advantageIcon'])
								span= object['advantageTitle']
						+e.A(href= object['src'], title='До проекту').button.button--blue
							span= object['title']
						
