+b.SECTION.done
	.container
		
		+e.title.animated
			h3 Здані об’єкти

		+e.UL.content.grid
			each object in data.projectsDone
				+b.LI.project-block.grid-item.animated
					+e.image-wrapper.loading(class= object['class'])
						+e.IMG.bg.lazyload(
							data-srcset= object['image_320'] + ' 320w, ' + object['image_640'] + ' 640w, ' + object['image_1280'] + ' 1280w, ' + object['image_2560'] + ' 2560w'
							data-src= object['image_320'],
							src='//:0',
							alt= object['name'] + ', ' + object['place'])
					+e.text
						+e.name
							h4= object['name'] 
						+e.ADDRESS.description= object['place']
						+e.stage
							time(datetime= object['datetime'])= object['stage']