+b.SECTION.not-found
	
	.container

		+e.title
			img(src="../img/404.svg", width="249", heigt="169", alt="404")
		
		+e.description

			p На жаль, даної сторінки не існує
			p Ви можете повернутись на #[a(href="/") головну]

	+e.pattern

