+b.SECTION.reports
	.container

		+e.title
			h3 Звітність компанії

		+e.year-block

			+e.H4.year
				time(datetime="2015") 2015 рік

			+e.P.link
				span — завантажити у PDF 
				a(href="#") звіт за #[time(datetime="2015-03") І квартал 2015 року]
			+e.P.link
				span — завантажити у PDF 
				a(href="#") звіт за #[time(datetime="2015-06") ІІ квартал 2015 року]
			+e.P.link
				span — завантажити у PDF 
				a(href="#") звіт за #[time(datetime="2015-09") ІІІ квартал 2015 року]
			+e.P.link
				span — завантажити у PDF 
				a(href="#") річний звіт #[time(datetime="2015") за 2015 рік]