include ../mixins
include ../../libs/bemto/bemto
block variables

doctype html
html(lang="uk")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="description" content=description)
		meta(name="keywords" content=keywords)
		meta(property="og:image" content=ogImage)
		//- /img/bg/ars-dim-2560.jpg
		style(body="opacity: 0; overflow-x: hidden;", html="background-color: #000;")

		link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png?v=2")
		link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png?v=2")
		link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png?v=2")
		link(rel="manifest" href="/img/favicon/site.webmanifest?v=2")
		link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg?v=2" color="#007fff")
		link(rel="shortcut icon" href="/img/favicon/favicon.ico?v=2")
		meta(name="apple-mobile-web-app-title" content="ARS&middot;DIM")
		meta(name="application-name" content="ARS&middot;DIM")
		meta(name="msapplication-TileColor" content="#2b5797")
		meta(name="msapplication-config" content="/img/favicon/browserconfig.xml?v=2")
		meta(name="theme-color" content="#ffffff")
		link(rel="stylesheet" type='text/css' href="/css/main.min.css")

		include ../modules/google-tag

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body(class=pageClass)
		include ../modules/google-tag--no-script
		.wrapper
			include ../modules/header
			include ../modules/header-mobile
			block content
			include ../modules/footer

		script(src="/js/scripts.min.js")
		block script
