+b.SECTION.about
	.container
		each object in data.pechenijinAbout
			+e.title 
				h3= object['h3']
			+e.text
				p= object['text']
		each object in btn.pechenijinAbout
			+e.A(href= object['src']).pdf.pdf
				+icon(object['icon'])
				span= object['title']
