+b.SECTION.info
	.container
		
		each object in data.pechenijinInfo
			+e.value
				+e.SPAN.description= object['title']
				+e.B.cost-price= object['costPrice']
				+e.B.cost-what= object['costWhat']
			+e.ADDRESS.location
				+icon(object['placeIcon'])
				+e.SPAN.city= object['place1']
				+e.SPAN.street= object['place2']
			+e.stage
				+icon(object['stageIcon'])
				time(datetime= object['datetime'])= object['stageTitle']
	
