.vyshnevyj-sad-page
	$feat: $feat_vyshnevyj
	.advantages
		margin-bottom: 80px

		&__block
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-bottom: 50px
			max-width: 288px

			animation-duration: 1.5s
			animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

			&:nth-child(2n)
				animation-delay: .2s

			&:last-child
				margin-bottom: 0

			.icon
				max-height: 50px
				margin-bottom: 20px
				fill: $feat

				&-placeholder
					max-width: 50px

				&-playground
					max-width: 45.9px
				&-park
					max-width: 83.2px
				&-maple
					max-width: 48.6px
				&-safety,
				&-car
					max-width: 59.3px
				&-school
					max-width: 39.2px
				&-transport
					max-width: 38.4px
				&-installment
					max-width: 63.23px

			p
				font-size: $msm
				margin-bottom: 0
