.vyshnevyj-sad-page
	$feat: $feat_vyshnevyj
	.stage
		&__tab
			color: $feat
		&__tab:not([data-ur-state='enabled'])
			color: $grey

			&:hover,
			&:focus
				color: $feat
.stage
	[data-ur-tabs-component='content']
		display: none

		&[data-ur-state='disabled']
			opacity: 0

		&[data-ur-state='enabled']
			display: block
			animation: fade-in 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s both

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&__title

		h3
			font-size: $mh2

	&__readiness
		font-size: $mh2

		&::before
			content: '— '
			display: inline-block

	&__tabs
		display: flex
		flex-wrap: wrap
		padding: 0
		margin: -10px 0
		margin-bottom: calc(30px - 10px)

		& > *
			margin: 10px 0
			width: 33%

		& > :nth-child(3n+2)
			text-align: center

		& > :nth-child(3n)
			text-align: right

	&__tab
		padding: 0

		font-size: $sm

		background-color: transparent
		border: 0
		outline: 0

	&__tab:not([data-ur-state='enabled'])
		cursor: pointer
		+border-dashed()

	&__content
		position: relative

		padding-bottom: 25px

		background-image: linear-gradient(to right, rgba($inactive, .5) 15%, transparent 0%)
		background-position: bottom
		background-size: 6px 1px
		background-repeat: repeat-x

	&__counter
		margin: 0 auto 30px

	.counter
		width: 150px
		height: 150px

		&__circle
			transform: rotate(-270deg)

		&__num
			top: 45px
			left: 0

			width: 100%

			font-size: 48px
			text-align: center
			letter-spacing: normal

			&::after
				content: '%'
				display: inline-block

	.description
		font-size: $sm

		&:not(:last-child)
			margin-bottom: 15px

		&__title
			display: inline-block
			margin-bottom: 10px

			font-weight: $bold

		&__text

			&::before
				content: '— '
				display: inline-block


@keyframes fade-in
	0%
		opacity: 0

	100%
		opacity: 1
