// .vyshnevyj-sad-page

.info

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&__value
		margin-bottom: 30px

	&__description // вартість від
		font-size: $msm
		display: block
		line-height: 1

	&__cost-price // 15 000
		font-size: $mh2
		margin-right: .3em

	&__cost-what // грн м.кв.
		font-size: $msm
		vertical-align: top


	&__location
		margin-bottom: 30px

		.icon
			fill: $green
			width: 14px
			height: 20px
			margin-right: 10px

		span
			font-size: $msm

		span:first-of-type
			margin-right: .3em


	&__stage

		.icon
			fill: $green
			width: 17.6px
			height: 13.4px
			margin-right: 10px
			margin-left: -3.6px // от-но верхней иконки

		time
			font-size: $msm
