.vyshnevyj-sad-page
	$feat: $feat_vyshnevyj
	.flats
		&__tab
			color: $feat
		&__tab:not([data-ur-state='enabled'])
			color: $grey

			&:hover,
			&:focus
				color: $feat
	.room
		&__title
			background-image: linear-gradient(to right, rgba($feat, .5) 15%, transparent 0%)
		&__area
			color: $feat
.flats
	margin-bottom: $mgsection

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	[data-ur-tabs-component='content']
		display: none

		&[data-ur-state='enabled']
			display: block

		// Разворачиваем зеркально по просьбе заказчика
		// &[data-ur-tab-id='tab-queue-2']

		// 	.flats__wrapper
		// 		transform: rotateY(180deg)

		// 		// фиксим возникшие проблемы с зекральностью
		// 		+bp-min(1024)
		// 			margin-right: 4%

		// 			.flats__image-wrapper::before
		// 				left: auto
		// 				transform: translateX(-20px)

	&__title

		h3
			font-size: $mh2

	&__tabs
		display: flex
		flex-wrap: wrap
		padding: 0
		margin: -10px 0
		margin-bottom: calc(15px - 10px)

		& > *
			margin: 10px 0
			width: 33%

		& > :nth-child(3n+2)
			text-align: center

		& > :nth-child(3n)
			text-align: right

	&__tab
		padding: 0

		font-size: $sm

		background-color: transparent
		border: 0
		outline: 0

	&__tab:not([data-ur-state='enabled'])
		cursor: pointer
		+border-dashed()


	&__image-wrapper
		position: relative

		max-width: 350px
		width: 100%
		margin: 0 auto 35px auto
		padding: 50px 0

		&::before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 50%
			right: 50%
			z-index: -1

			margin-left: -50vw
			margin-right: -50vw
			width: 100vw

			background-color: $light

		svg
			position: absolute
			top: 0
			left: 0

			width: 100%
			padding: 50px 0
			margin: 0

	&__path
		opacity: 0
		fill: rgba(111, 207, 151, .5)

		transition: opacity .3s

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

		&:hover
			opacity: 1
			cursor: pointer

		&--active
			opacity: 1

			&:hover
				cursor: default

	.information
		white-space: nowrap

		b
			font-size: 12px
			font-weight: 700
			line-height: 1.15

		&__table-row
			display: block

			font-size: 10px
			line-height: 1.15

			&:not(:last-child)
				margin-bottom: 8px

.room
	position: relative

	width: 100%

	&__wrapper
		position: absolute

		display: flex
		flex-direction: column
		max-width: 650px
		width: 100%
		margin: 0 auto

		background: #fff
		visibility: hidden
		filter: opacity(0)

		&--active
			position: static
			z-index: 2

			visibility: visible
			filter: opacity(1)

			transition-property: filter
			transition-duration: .3s
			transition-delay: .3s
			transition-timing-function: ease-in

	&__title
		order: 2

		display: flex
		justify-content: space-between
		width: 100%
		padding-bottom: 10px
		margin-bottom: 10px

		background-position: bottom
		background-size: 6px 1px
		background-repeat: repeat-x

		h4
			margin-bottom: 0

	&__text
		width: auto

		font-size: 16px
		line-height: 19px
		font-weight: bold
		text-align: left

	&__area
		width: auto

		font-weight: bold
		font-size: 18px
		text-align: right

	&__image-wrapper
		position: relative

		padding-bottom: 66%
		margin-bottom: 15px

		&.image-loaded
			max-width: 450px
			padding-bottom: 0
			margin-left: auto
			margin-right: auto

			& > *
				position: static
				width: 100%
				height: auto

		& > *
			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%
			// object-fit: cover

	&__description
		order: 3

		width: 100%

	&__table-wrapper

		table
			display: flex
			flex-flow: column wrap

		thead
			margin-bottom: 20px

		tbody
			display: flex
			flex-flow: column wrap
			max-height: 9em
			height: 100%

			overflow-x: auto

			&::-webkit-scrollbar
				width: 10px
				height: 10px

			&::-webkit-scrollbar-button
				display: none

			&::-webkit-scrollbar-track
				width: 10px
				height: 10px

				background-color: $light
				border-radius: 5px

			&::-webkit-scrollbar-thumb
				// height: 40px
				// width: 10px

				background-color: rgba(241, 80, 37, .25)
				border-radius: 5px

				&:hover
					background-color: rgba(241, 80, 37, .5)

	&__table-head
		font-weight: normal
		text-align: left

	&__table-row
		font-size: $msm
		margin-bottom: 20px

	&__button
		+button-mobile()
		order: 4

		margin: 0 auto

.level
	width: 100%
	margin-bottom: 20px

	&__list
		width: 100%
		// height: 122px
		margin: 0
		padding-left: 0

		font-size: 12px
		color: $grey

		// border-radius: 5px 0 0 5px
		// background-color: #fafafa

		overflow-y: auto

		&::-webkit-scrollbar
			width: 10px

		&::-webkit-scrollbar-button
			display: none

		&::-webkit-scrollbar-track
			width: 10px

			background-color: $light
			border-radius: 5px

		&::-webkit-scrollbar-thumb
			height: 40px
			width: 10px

			background-color: rgba(241, 80, 37, .25)
			border-radius: 5px

			&:hover
				background-color: rgba(241, 80, 37, .5)

	&__title
		margin-bottom: 5px

		font-size: 16px

	&__floor
		position: relative

		padding: 7px 0 7px 10px
		width: 100%
		margin: 0

		color: $inactive

		background-color: $light

		&--active
			background-color: transparent
			color: $green

		.icon
			position: absolute
			right: 9.5px

			width: 14px
			height: 14px

		.icon-cross
			fill: $inactive

		.icon-check
			right: 6.5px

			width: 17px

			fill: $green
