.included
  margin-bottom: $mgsection

  .container
    animation-duration: 1.5s
    animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

  &__title
    margin-bottom: 30px

    h3
      margin-bottom: 0

  &__list
    display: flex
    flex-wrap: wrap
    padding-left: .5em
    margin-bottom: -60px

    +bp-min(500)
      margin-right: -40px

    +bp-min(1024)
      margin-right: -80px
      margin-bottom: -70px

    +bp-min(1368)
      margin-right: -125px

  &__item-wrapper
    display: flex
    align-items: center
    max-width: 200px
    width: 100%
    padding-left: 40px
    margin-right: 40px
    margin-bottom: 60px

    font-size: 12px

    background-repeat: no-repeat
    background-position: 0 50%

    +bp-min(1024)
      max-width: 250px
      padding-left: 50px
      margin-right: 80px
      margin-bottom: 70px

      font-size: 14px

    +bp-min(1368)
      margin-right: 125px

      font-size: 14px

    &--brickwall
      background-size: 19px 20px

      +bp-min(1024)
        background-size: 30px 31px

    &--window
      background-size: 20px 20px

      +bp-min(1024)
        background-size: 30px 30px

    &--counters
      background-size: 24px 20px

      +bp-min(1024)
        background-size: 35px 30px

    &--door
      background-size: 15px 20px

      +bp-min(1024)
        background-size: 22px 30px

    &--cctv
      background-size: 23px 20px

      +bp-min(1024)
        background-size: 35px 30px

  &__item
    margin-bottom: 0


.vyshnevyj-sad-page
  .included
    &__item-wrapper
      &--brickwall
        background-image: url(../img/vyshnevyj-sad/brickwall.svg)

      &--window
        background-image: url(../img/vyshnevyj-sad/window.svg)

      &--counters
        background-image: url(../img/vyshnevyj-sad/counters.svg)

      &--door
        background-image: url(../img/vyshnevyj-sad/door.svg)

      &--cctv
        background-image: url(../img/vyshnevyj-sad/cctv.svg)

