.vyshnevyj-sad-page

	.callback
		background-color: #fff

		&__title
			
			h3
				font-size: $mh2

		&__map
			border-radius: 5px
			
			// выход за рамки
			position: relative
			left: 50%
			right: 50%

			width: 100vw
			margin-left: -50vw
			margin-right: -50vw
			
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				vertical-align: top

				width: 100%
				height: 100%
				display: inline-block

				background-image: url(../img/bg/klenovyi-park-map_1920.jpg)
				background-position: top left

	.callback-form

		input,
		textarea
			border-color: $green
		
		&__button
			box-shadow: 0 5px 15px rgba($green, .25)
			background-color: $green
			
