.another-projects

	&__title
		h3
			font-size: $mh2

	&__content
		display: flex
		flex-direction: column
		flex-wrap: wrap

	.project-block
		margin-bottom: 25px // если уж совсем много будет
		display: flex
		flex-direction: column

		color: $def-color

		+border-none()
		border-radius: 5px
		box-shadow: 0 5px 10px rgba(0, 127, 255, .15)

		transition: .25s ease-out

		&:hover, &:active
			box-shadow: 0 10px 15px rgba(0, 127, 255, .25)

		&:active
			box-shadow: none
			background-color: darken(#fff, 5%)


		&__bg
			object-fit: cover
			object-position: center
			border-radius: 5px 5px 0 0
			height: 180px

		&__text // текстовая часть блока
			display: flex
			flex-direction: column
			padding: 15px 10px 20px

		&__name
			h4
				// letter-spacing: .6px
				margin-bottom: 10px

		&__description
			font-size: $msm
			margin-bottom: 20px
			span:first-of-type
				margin-right: .3em