.current
	top: $mtop
	margin-bottom: $mmhero

	&__content
		display: flex
		flex-direction: column
		margin: auto

	.project-block
		box-shadow: 0 5px 10px rgba(0, 127, 255, .15)
		margin-bottom: 50px
		display: flex
		flex-direction: column

		&:last-child
			margin-bottom: 0

		&__image-wrapper
			position: relative

			padding-bottom: 1300 / 2022 * 100%

			&.image-loaded
				padding-bottom: 0

				& > *
					position: static
					width: 100%
					height: auto

			& > *
				position: absolute
				top: 0
				left: 0

				width: 100%
				height: 100%

		&__bg
			object-fit: cover
			object-position: center
			border-radius: 5px 5px 0 0
			z-index: 0

		&__text // текстовая часть блока
			display: flex
			flex-direction: column
			padding: 15px 10px 0
			max-width: 400px
			width: 100%
			background-color: #fff
			transition: transform .2s ease-out

		&__name
			h4
				letter-spacing: .6px
				margin-bottom: 10px

		&__description
			margin-bottom: 25px
			font-size: $msm
			span:first-of-type
				margin-right: .3em

		&__cost-and-stage
			display: flex
			justify-content: space-between
			margin-bottom: 15px

		&__cost-price // span 1
			font-size: $mlg
			margin-right: .3em

		&__cost-what // span 2
			font-size: 10px
			vertical-align: top

		&__stage
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

			.icon
				width: 31px
				height: 31px

				fill: $accent

			.icon-done-status
				fill: $green

			span
				font-size: $msm
				&.construction
					color: $accent
				&.build
					color: $green

		&__advantages
			display: flex
			padding-top: 10px
			border-top: 1px solid $accent

		&__advantages-item
			padding: 10px
			display: inline-flex
			border: 1px solid rgba($inactive, .5)
			border-radius: 100px
			font-size: $msm

			.icon
				width: 21px
				height: 21px
				flex-shrink: 0

				fill: $accent

			span
				margin-left: .3em
				color: $grey

		&__button
			+button-mobile()
			+border-none()
			margin: auto
			transform: translateY(20px)
