.done

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&__title
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		h3
			font-size: $mh2

	&__content

		&::after
			content: ''
			display: block
			clear: both

	.grid-sizer, .project-block
		width: 100%

	.gutter-sizer
		width: 0

	.project-block
		display: flex
		flex-direction: column

		border-radius: 5px
		box-shadow: 0 5px 10px rgba(0, 127, 255, .15)

		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s
		
		&:nth-child(2n)
			animation-delay: .2s

		&__image-wrapper
			position: relative
			padding-bottom: 189 / 304 * 100% // под «широкие» фотографии

			&--tall
				padding-bottom: 362 / 304 * 100% // под «высокие» фотографии

			&.image-loaded
				padding-bottom: 0

				& > *
					position: static
					width: 100%
					height: auto

			& > *
				position: absolute
				top: 0
				left: 0

				width: 100%
				height: 100%

		&__bg
			object-fit: cover
			object-position: center
			border-radius: 5px 5px 0 0
			// height: 189px

		&__text // текстовая часть блока
			display: flex
			flex-direction: column
			padding: 15px 10px 20px

		&__name
			h4
				// letter-spacing: .6px
				margin-bottom: 10px

		&__description
			font-size: $msm
			margin-bottom: 20px

		&__stage
			color: $grey
			font-size: $msm
