.klenovyi-park-page

	&--video-open
		overflow: hidden

	.main

		.container
			position: static


		&__image-wrapper
			position: relative

			display: block
			margin-bottom: -4px // чтобы логотип немножко налазил
			width: 305.09px
			height: 64.46px

			font-size: $mh3
			color: $light

		&__title

			img
				position: absolute
				z-index: 2

			h2
				z-index: 1

				display: inline-block
				padding: 3px 5px 10px
				margin-bottom: 40px

				font-size: $mh1 - 3px
				color: $light

				background-color: $feat

		&__button
			display: flex
			min-height: 45px
			height: 45px
			min-width: 210px
			padding-top: 13.5px
			padding-bottom: 13.5px
			padding-left: 15px
			padding-right: 31px

			transition: .25s ease-out box-shadow

		&__location
			position: absolute
			bottom: 0
			left: 0

			display: flex
			align-items: center
			width: 100%
			padding: 5px 4%

			color: $light
			font-size: 14px

			background-color: rgba(#333, .85)

			p
				margin: 0

		.icon-contacts
			width: 14px
			height: 20px
			margin-right: .5em

			fill: currentColor
