.klenovyi-park-page

	.about
		margin-bottom: $mgsection

		.container
			animation-duration: 1.5s
			animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		h3
			max-width: 612px

			// Отменяет свешивание
			.hang-left
				margin-left: 0

		&__pdf
			box-shadow: 0 5px 10px rgba($feat, .15)
			transition: .25s ease-out

			svg
				fill: $feat

			&:hover, &:active
				box-shadow: 0 10px 15px rgba($feat, .25)

			&:active
				box-shadow: none
				background-color: darken(#fff, 5%)
