.course
	margin-bottom: $mgsection

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	[data-ur-tabs-component='content']
		display: none

		&[data-ur-state='disabled']
			opacity: 0

		&[data-ur-state='enabled']
			display: block
			animation: fade-in 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s both

	&__tabs
		display: flex
		flex-wrap: wrap
		padding: 0
		margin: -10px 0
		margin-bottom: calc(15px - 10px)

		& > *
			margin: 10px 0
			width: 33%

		& > :nth-child(3n+2)
			text-align: center

		& > :nth-child(3n)
			text-align: right

	&__tab
		padding: 0

		color: $feat
		font-size: $sm

		background-color: transparent
		border: 0
		outline: 0

	&__tab:not([data-ur-state='enabled'])
		color: $grey

		cursor: pointer
		+border-dashed()

		&:hover,
		&:focus
			color: $feat

	.swiper-container
		max-height: 430px
		// max-height: 100vh
		// height: auto
		// height: 100%

		z-index: 0

		// выход за рамки
		position: relative
		left: 50%
		right: 50%

		width: 100vw
		margin-left: -50vw
		margin-right: -50vw

	.swiper-wrapper
		padding: 0
		margin: 0

	.swiper-slide
		display: block
		width: 100%
		height: 100%
		// position: relative
		margin-bottom: 0 !important


		img
			object-fit: cover
			object-position: center

			width: 100%
			height: 100%
			// max-width: 530px
			// min-width: 100%
			// max-height: 430px
			min-height: 420px
			// border-radius: 5px

			animation-duration: 1s
			animation-fill-mode: both


	// пагинация
	.swiper-pagination
		right: 0

		display: flex
		flex-direction: column
		padding: 0
		width: 70px !important
		max-height: 90%
		height: 100% !important

		color: #fff

		background-color: rgba($green, .75)

		&::before
			content: ''
			position: absolute
			z-index: 2
			top: 0
			width: 70px
			height: 30px
			background: linear-gradient(rgba($green, .75), rgba(255, 255, 255, 0.001))
			pointer-events: none

		&::after
			content: ''
			position: absolute
			bottom: 0
			width: 70px
			height: 30px
			background: linear-gradient(rgba(255, 255, 255, 0.001), rgba($green, .75))
			pointer-events: none

	// точки пагинации
	.swiper-pagination-bullet
		position: relative

		width: auto
		height: auto !important
		margin: 10px 0 !important

		font-size: $sm !important
		line-height: 1
		// color: $inactive

		background: none
		opacity: 1

		transform: scale(1) !important
		transition: transform .3s cubic-bezier(.455,.03,.515,.955), top .3s cubic-bezier(.455,.03,.515,.955)

		touch-action: manipulation
		user-select: none

		&::after
			content: ''
			display: block
			width: 100%

			border-bottom: 1px solid

			transform: translateX(30%)

		&:hover
			transform: translateX(-0.5em) !important

			// padding: .5em 0
			// margin: 0 !important

			transition: transform .3s cubic-bezier(.455,.03,.515,.955), top .3s cubic-bezier(.455,.03,.515,.955)

			&::after
				transform: translateX(28%)

	// активная точка пагинации
	.swiper-pagination-bullet-active
		transform: translateX(-0.5em) !important

		color: #fff

		pointer-events: none

		&::after
			transform: translateX(28%)


	// // очереди и этапы очередей
	// &__info
	// 	transform: translate(5vw, -30%)
	// 	max-width: 250px
	// 	width: 100%
	// 	z-index: 2

	// 	font-size: $msm

	// 	padding: 15px 10px 22px
	// 	margin: 0

	// 	background-color: #fff
	// 	box-shadow: 0 5px 10px rgba($feat, .15)
	// 	border-radius: 5px

	// &__stage
	// 	margin-bottom: 15px

	// 	&:last-child
	// 		margin: 0

	// &__queue
	// 	font-weight: normal