.sales
	margin-bottom: 30px

	&__title
		margin-bottom: 40px

		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		h3
			font-size: $mh2

		address
			width: 100%
			margin-bottom: 10px

			font-size: $sm

	&__main-tel-wrapper
		display: flex
		flex-direction: column

	&__list-item

			&:not(:last-child)
				margin-bottom: 5px

	&__main-tel

		color: $feat
		+border-none()

.card
	max-width: 300px
	width: 100%
	padding: 13px 10px 17px

	border-radius: 5px
	box-shadow: 0 2px 5px rgba($feat, .15)

	transition: box-shadow .25s ease-out
	animation-duration: 1.5s
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	&:nth-child(2n)
		animation-delay: .2s

	&:not(:last-child)
		margin-bottom: 30px

	&:focus,
	&:hover
		box-shadow: 0 5px 15px rgba($feat, .15)
		cursor: pointer
		transition: box-shadow .25s ease-out

	&:active
		box-shadow: 0 1px 5px rgba($feat, .15)
		background-color: darken(#fff, 1%)

	&__tel-wrapper
		display: flex
		+border-none()

	&__image-wrapper
		position: relative

		width: 120px
		height: 120px
		flex-shrink: 0
		margin-right: 20px

		border-radius: 50%
		background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0))

		& > *
			position: absolute
			top: 0
			left: 0
			object-fit: cover
			z-index: 2

			width: 100%
			height: 100%

			border-radius: 50%

	&__text
		display: flex
		flex-flow: column wrap

		color: $def-color

		& > *
			display: block

	&__name
		margin-bottom: 5px

		font-size: $h3

	&__role
		margin-bottom: 20px

		font-size: $sm

	&__tel
		font-size: $sm
		color: $feat
