.main
	top: $mtop

	min-height: calc(100vh - 148.6px)
	display: flex
	flex-direction: column
	justify-content: center
	margin-bottom: $mmhero

	background-repeat: no-repeat
	background-position: center
	background-size: cover

	.container
		width: 100vw
		position: relative

	&-slider
		width: 100%
		flex-grow: 1
		display: flex

	&__title
		margin-top: auto
		margin-bottom: auto
		display: flex
		flex-direction: column
		align-items: start
		// opacity: 0

		// animation-delay: 1s
		// animation-duration: 1.5s
		// animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		h1
			// max-width: 7em
			display: inline-block

				// font-size: $mh1 - 3px
			font-size: $mh2 // новый дизайн
			color: $light

	&__button
		+border-none()
		+button-mobile()

	&__button
		margin-top: 20px

		font-size: 18px
		font-weight: normal
		color: $def-color

.slide-buttons
	position: absolute
	bottom: 36px

	&__button
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

	&__button
		min-width: unset
		min-height: unset
		max-width: 190px
		padding: 10px 7px!important

		color: unset
		font-weight: unset
		font-size: 12px


		border: 0

		@media only screen and (min-width: 360px)
			padding: 10px 17px !important
			&:first-child
				margin-bottom: 0px
		@media only screen and (min-width: 400px)
			padding: 13px 20px !important
			flex-direction: row

		span:first-child
			margin-right: 5px

		span:last-child
			font-weight: 500

		@media only screen and (min-width: 768px)
			font-size: 14px
			display: inline-flex

		@media only screen and (min-width: 768px)
	    flex-direction: column
	    align-items: flex-start

		&:focus,
		&:hover

			span
				padding-right: 0

		span

			&::after
				content: ''

		&:not(:last-child)
			margin-right: 15px

			@media only screen and (min-width: 768px)
				margin-right: 40px

		&--green,
		&--cherry
			color: $light


.index-page

	.main
		position: relative

		&::before //тонирование
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0

			background: rgba(#333, .5)

		.container
			position: relative

			display: flex
			flex-direction: column
			justify-content: center
			// padding-left: 5.5%

		&__title

			img
				position: absolute
				// top: -64px
				z-index: 2

			h1
				line-height: 1.2
				z-index: 1

				display: inline-block
				// padding: 3px 5px 10px
				padding: 3px 12px 12px
				margin-bottom: 0

				color: $light

			&--cherry
				h1
					background-color: $feat_vyshnevyj

			&--green
				h1
					background-color: $green

		&__image-wrapper
			position: relative

			display: block
			width: 256px
			height: 64.46px

			font-size: $mh3
			color: $light
			@media only screen and (min-width: 360px)
				width: 305.09px

			&--cherry
				margin-bottom: 15px // чтобы логотип был чуть сверху, как на странице проекта

			&--green
				margin-bottom: -4px // чтобы логотип немножко налазил

		.swiper-wrapper
			height: unset
			// align-items: center
			// justify-content: start

		.swiper-slide
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			flex-grow: 1
			display: flex

			.content 
				flex-grow: 1

			&--green
				background-image: url('../img/bg/klenovyi-park-4_1920.jpg')

			&--cherry
				background-image: url('../img/bg/vyshnevyj-sad_1920.jpg')
