.projects
	margin-bottom: $mgsection

	animation-duration: 1.5s
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	.container
		display: flex
		flex-direction: column
	
	&__counter
		margin-left: calc(50% - 95px) // идеальный центр на — 75px (=150/2)
		margin-bottom: 60px

	.counter__circle-chart // прогрессбар
		margin-bottom: 60px

	&__active
		display: flex
		flex-wrap: wrap
		width: 100%
		+break-out()

	.project-block
		color: $light
		background-color: $grey // если не будет img
		width: 100%
		min-height: 240px
		margin-bottom: 30px
		padding: 20px 16px 30px
		display: flex
		flex-direction: column
		background-repeat: no-repeat
		background-size: cover
		position: relative

		&::before
			content: ''
			position: absolute
			z-index: -1
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba($accent, .5)
		
		&__info-button
			position: absolute
			top: 10px
			right: 10px

			display: inline-block
			width: 20px
			height: 20px

			font-size: 12px
			font-weight: $bold
			line-height: 15px
			text-align: center

			border-radius: 50px
			border: 2px solid white

			cursor: help
			user-select: none

			&:hover,
			&:focus,
			&:active

				.information
					background-color: #fff
					
					opacity: 1
					visibility: visible

		&__name
			h4
				font-size: $mlg
				letter-spacing: .6px
				font-weight: $bold
				margin-bottom: 5px

		&__description
			span
				font-size: $msm
				display: block
				line-height: 1.3

		&__button
			margin-top: auto
			margin-left: auto
			+button-mobile()
			+border-none()

.counter

	&__circle-done
		position: absolute
		right: 20px
		top: 130px

	&__num

		&--done
			top: 138px
			left: auto
			right: 27px

			color: #fff
			font-size: 16px
			letter-spacing: normal

			box-shadow: 0 5px 15px rgba(0, 127, 255, .25)

	&__info

		&--done
			top: 164px
			left: auto
			right: 0
			transform: translate(3.5em, 0)

			width: 100%
			text-align: right

	&__button
		+button-mobile()
		+border-none()

