.about
	margin-bottom: $mgsection

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(.6, .2, .1, 1) 0s

	&__text
		margin-bottom: 20px
		p
			margin-bottom: 0

	&__description
		p
			margin-bottom: 0

	&__title
		h3
			font-size: $mh2

	&__img
		position: relative

		padding-bottom: 66%
		
		border-radius: 5px

		&.image-loaded
			padding-bottom: 0

			& > *
				position: static
				
				width: 100%
				height: auto

		& > *
			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%

			border-radius: 5px

.project-page

	.about

		&__text
			margin-bottom: 30px