.callback
	// margin-bottom: 1em

	.container
		display: flex
		flex-direction: column

	&__img
		position: relative

		padding-bottom: 66%

		border-radius: 5px

		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		&.image-loaded
			padding-bottom: 0

			& > *
				position: static

				width: 100%
				height: auto

		& > *
			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%

			border-radius: 5px

	&__map
		position: relative
		order: 2

		height: 448px
		padding-bottom: 56.25% // Comes from the aspect ratio 16:9. 9/16x100 = 56.25
		margin-bottom: $mgsection

		overflow: hidden

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0

			display: inline-block

			background-image: url(../img/bg/ars-dim-map_1440.jpg)
			background-repeat: no-repeat
			background-size: cover

		iframe
			top: 0
			left: 0
			height: 100%
			width: 100%
			position: absolute

	.callback-form
		order: 3

	.contacts-block,
	.sales-block
		margin-bottom: $mgsection

		.container
			padding-left: 0

.index-page

	.callback
		margin-bottom: $mgsection

	.callback-form
		max-width: none

		margin: 0
		padding: 0

		color: $def-color

		box-shadow: none
		background-color: transparent