+b.FORM.callback-form.animated#linkFlats
	+e.pop-up
		span Lorem ipsum
	+e.title
		h4 Зворотній зв’язок
	p
		input(type="name" name="name" title="Будь ласка, введіть ваше ім’я" required)#callback-name.callback-name
		label(for="callback-name") Ім’я
	p
		input(type="tel" name="phone" title="Будь ласка, введіть ваш номер телефону" required)#callback-tel.callback-tel.form-tel
		label(for="callback-tel") Телефон
	p
		textarea(name="question" title="Будь ласка, введіть ваше питання" placeholder=" " optional)#callback-textarea.callback-textarea
		label(for="callback-textarea") Ваше запитання
	+e.BUTTON.button
		+icon('send')
