+b.SECTION.contacts-block.animated
	.container
		+e.title
			h4 Головний офіс
		+e.content
			+e.tel
				a(href="tel:+380342527900", title='Працюємо з 9:00 до 17:00') +380 (342) 527-900
			+e.mail
				a(href="mailto:ars@com.if.ua" title="Надішліть нам листа") ars@com.if.ua
			+e.address
				address м. Івано-Франківськ, пл. Ринок, 14
