+b.HEADER.header.headroom
	.container
		+e.logo
			a(href="/index.html")
				img(src="/img/ars-dim_blue.svg", alt="ARS·DIM logo" width="120" height="25.5")
				img(src="/img/ars-dim_orange.svg", alt="ARS·DIM logo" width="120" height="25.5" style="display: none").klenovyi-park
				img(src="/img/ars-dim_cherry.svg", alt="ARS·DIM logo" width="120" height="25.5" style="display: none").vyshnevyj-sad
		+e.tel
			a(href="tel:+380955808888", title='Працюємо з 9:00 до 17:00') +380 (95) 58-08-888
		+e.NAV.nav
			a(href="/index.html").index-page
				+icon('home')

			each object in btn.header
				a(class= object['class'], href= object['src'])= object['title']
				