+b.SECTION.sales-block.animated
	.container
		+e.title
			h4 Відділ продажу
		+e.content
			+e.tel
				a(href="tel:+380342527900") +380 (342) 527-900
			+e.mail
				a(href="mailto:ars@com.if.ua") ars@com.if.ua
			+e.address
				address м. Івано-Франківськ, пл. Ринок, 14
