@import "vars"

@media only screen and (min-width : 375px)

	.nav-moblie
		position: fixed
		z-index: 10
		bottom: 0
		width: 100%

		background-color: #fff
		box-shadow: 0 -5px 10px 0 rgba(0, 127, 255, .15)

		animation-duration: .5s

		.container
			padding: 15px 8px 13px
			display: flex
			justify-content: space-between

		a
			font-size: inherit

@media only screen and (min-width : 480px)

	/* header */
	.header

		.container
			display: flex
			justify-content: space-between
			align-items: center

		&__tel
			display: none

		&__nav
			display: flex

			a.index-page
				display: none

	/* headerMobile */
	.nav-moblie
		display: none

	/* modules/callback */
	.callback-form
		margin-right: 0
		// transform: translateY(-5vw) translateX(-5vw)
		bottom: 15vw
		right: 7vw

	/* index/callback */
	.index-page

		.callback-form
			right: auto
			bottom: auto

			max-width: 320px
			margin: 0 auto
			padding: 0

			color: $def-color

			box-shadow: none
			background-color: transparent

			transform: translate(0, 0)

	.projects

		&__active
			+break-in()

		&__active
			width: 100%

	/* main */
	.main //hero screen on every page
		top: $top
		min-height: calc(100vh - 60px)
		margin-bottom: $mhero

	/* projects/current */
	.current

		.project-block
			box-shadow: none
			border-radius: 5px
			margin-bottom: 0

			&__bg
				border-radius: 5px

			&__text
				box-shadow: 0 5px 10px rgba(0, 127, 255, .15)
				border-radius: 5px
				margin-bottom: 50px

				margin-left: auto
				transform: translateY(-5vw) translateX(-5vw)

	/* projects/done */
	.done

		.grid-sizer, .project-block
			width: 46%

		.gutter-sizer
			width: 4%

	/* about */
	.about

		&__pdf
			margin-left: 0

		/* klenovyi-park/advantages */
	.klenovyi-park-page,
	.vyshnevyj-sad-page

		.advantages
			ul
				display: flex
				flex-wrap: wrap
				// justify-content: space-between
				margin-right: -4%

				& > *
					margin-right: 4%

	.stage

		&__tabs
			margin: -10px -3%
			margin-bottom: calc(30px - 10px)

			& > *
				margin: 10px 3%
				width: auto

		&__counter
			margin: 0 0 30px 70px

	/* flats */
	.flats

		&__tabs
			margin: -10px -3%
			margin-bottom: calc(15px - 10px)

			& > *
				margin: 10px 3%
				width: auto

	.course

		&__tabs
			margin: -10px -3%
			margin-bottom: calc(30px - 10px)

			& > *
				margin: 10px 3%
				width: auto

	.room

		&__table
			max-width: 325px

	/* pechenijin/main */
	.project-page

		.main

			&__title
				max-width: none

				span:nth-of-type(2)
					padding-right: 0
				span:nth-of-type(3)
					padding-left: 0

	/* index/advantages */
	.index-page

		.advantages
			ul
				display: flex
				flex-wrap: wrap
				justify-content: space-between

	/* about-us/team */
	.team

		&__content
			justify-content: space-between

		&__text
			max-width: 260px

			transform: translate(5%, -10%)

			span
				font-size: $sm

	.sales

		&__list

		&__card
			display: inline-block

	.card

		&:not(:last-child)
			margin-right: 15px

@media only screen and (min-width : 700px)
	/* header */
	.header

		&__nav

			a.index-page
				display: block

	/* index/projects */
	.projects

		&__active
			justify-content: space-around

		.project-block
			max-width: 320px

	/* index/about */
	.index-page

		.about

			.container
				display: flex
				flex-direction: row
				justify-content: space-between

			&__text
				flex-shrink: 1
				margin-right: 10%

			&__title
				flex-shrink: 2
				margin-right: 2em

			&__description
				p
					margin-bottom: 80px // корректировка на картинку справа

			&__img
				position: relative

				// после «ленивой загрузки»
				// поля остаются 33%. Так лучше
				padding-bottom: 33%
				flex-shrink: 2
				width: 100%
				overflow: hidden

				img
					position: absolute
					top: 0
					left: 0

	/* projects/current */
	.current

		.project-block
			box-shadow: none
			border-radius: 5px
			margin-bottom: 0

			&__image-wrapper
				height: 460px
				padding-bottom: 0

				&.image-loaded

					& > *
						position: static
						width: 100%
						height: 100%

			// &__bg
			// 	height: 460px

	/* stage */
	.stage

		&__tabs
			margin: -10px -30px
			margin-bottom: calc(30px - 10px)

			& > *
				margin: 10px 30px

	.queue

		&__dot
			width: 18px
			height: 18px

	/* flats */
	.flats

		&__tabs
			margin: -10px -30px
			margin-bottom: calc(40px - 10px)

			& > *
				margin: 10px 30px
	.vyshnevyj-sad-page
		.room

			&__title
				background-image: none
	.room

		&__image-wrapper
			order: 2

			margin-bottom: 30px

		&__title
			margin-bottom: 30px
			padding: 0

			background-image: none

		&__text
			font-size: 18px
			line-height: 21px

		&__area
			font-size: 21px
			line-height: 25px

		&__description
			display: flex
			// padding: 0 4%

		&__table-wrapper
			min-height: 189px // на случай 1–2 «комплектацій»
			flex: 5 0 auto
			margin: 0

		&__button
			position: relative
			// bottom: 80px
			bottom: 40px

			margin-left: 0

	.level
		display: flex
		flex: 1 1 auto
		width: auto
		justify-content: flex-end
		margin-bottom: 0

		&:only-child // на случай отсутствия «комплектацій»
			margin-left: auto
			margin-bottom: 20px

		&__title
			margin: 0
			margin-right: 10px

		&__list
			width: 160px
			// height: 150px

	.course

		&__tabs
			margin: -10px -30px
			margin-bottom: calc(30px - 10px)

			& > *
				margin: 10px 30px

	/* about-us/history */
	.history

		.swiper-slide
			justify-content: center
			padding-top: 24px
			padding-bottom: 19px

		&__img
			margin-right: 2.5%
			margin-bottom: 0

@media only screen and (min-width : 768px)

	.header

		.container

		&__logo
			margin-right: auto

		&__nav
			margin-right: 3%

		&__tel
			display: inline-flex

			a
				color: $grey

	.klenovyi-park-page,
	.vyshnevyj-sad-page

		.header

			&__tel

				a
					color: $grey

	.stage
		margin-bottom: 30px // -30px от дизайна

		[data-ur-tabs-component='content']

			&[data-ur-state='enabled']
				display: grid
				grid-template-columns: 20em 1fr

		&__tabs
			margin-bottom: calc(20px - 10px) // +17px от дизайна

		&__counter
			order: 2
			grid-row: 1 / 2
			grid-column: 2 / 2

			margin: 0 auto

		.description
			position: relative

			&::after
				content: ''
				position: absolute
				top: 19px // высота заголовка
				width: calc(20em - 3px)
				height: 3em
				background: linear-gradient(white, rgba(255, 255, 255, 0.001))
				pointer-events: none

			&:not(:last-child)
				margin-bottom: 20px

			&__list
				width: 20em
				height: 158px
				padding-bottom: 3em

				background-color: white

				overflow-y: auto

				&::-webkit-scrollbar
					width: 3px

				&::-webkit-scrollbar-track
					box-shadow: inset 0 0 6px #f2f2f2
					border-radius: 10px

				&::-webkit-scrollbar-thumb
					border-radius: 10px
					box-shadow: inset 0 0 6px #bdbdbd

					&:hover
						box-shadow: inset 0 0 6px darken(#bdbdbd, 25%)

			&__text
				margin-bottom: 10px

				line-height: 1.4

	.queue
		align-self: end

		&__description
			font-size: $sm

	/* info */
	.info

		.container
			display: flex
			justify-content: space-between

		&__value
			transform: translateY(-.7em) //выравнивание

	.history

		.swiper-container-horizontal
			+break-in()

			// чёрточки под пагинацией
			&::after
				display: none

		.swiper-pagination
			// width: 60% !important
			// transform: translateX(40%) !important

			padding: 0 0 18px

			border-bottom: 1px dashed rgba($inactive, .5)

			// точки пагинации
		.swiper-pagination-bullet
			font-size: $def-size

		&__description
			max-width: 15em

			p
				max-width: 18em

	.team

		.container
			padding-left: 0

		&__title
			margin-left: 4%

		&__content
			justify-content: flex-start

		&__person-block
			margin-left: 4%

	// обратная связь на разных страницах

	.contacts-page

		.contacts
			top: $top

			.container
				padding-top: 40px
				padding-bottom: 0

			&__map
				height: 519px
				order: 0

			.contacts-block
				margin-bottom: 0

				opacity: 0

				animation-delay: 1.5s

				.container
					padding-top: 15px
					padding-left: 4%
					padding-bottom: 10px

			.callback-form
				opacity: 0

				animation-delay: 1.5s

	.index-page

		.callback
			background-color: #fff

			.container
				padding-top: 40px
				padding-bottom: 0

			&__img
				max-width: 50%

			.callback-form
				top: 40px
				left: 55%
				right: auto

				color: $def-color

				box-shadow: none
				background-color: transparent

	.callback
		background-color: $def-color

		.container
			padding-top: 40px
			padding-bottom: 0

		&__img
			padding-bottom: 33%

		&__map
			+break-in()

		&__map
			position: relative

			height: 519px
			order: 0
			margin-bottom: 0

		.contacts-block,
		.sales-block
			margin-bottom: 0

			.container
				padding-top: 15px
				padding-left: 4%
				padding-bottom: 10px

	.callback-form
		position: absolute
		top: calc(50% - 270px)
		bottom: auto
		right: 10vw

	.contacts-block,
	.sales-block
		left: 2.5vw
		bottom: 60px
		box-shadow: 0 5px 15px rgba($accent, .15)

	.klenovyi-park-page,
	.vyshnevyj-sad-page

		.callback
			margin-bottom: $mgsection * 2

			&__map
				+break-in()

			&__map
				position: relative

		.callback-form
			position: absolute
			top: calc(85% - 270px)
			bottom: auto
			right: 10%

@media only screen and (min-width : 1024px)
	body
		line-height: 1.6
		font-size: $def-size

	h1, h2, h3, h4
		margin-bottom: 20px
		line-height: 1

	h1
		font-size: $h1

	h2
		font-size: $h2

	h3
		font-size: $h3

	h4
		font-size: $lg

	p
		margin-bottom: 15px

	a
		position: relative

		padding-bottom: 2px

		&::before
			content: ''
			position: absolute

			display: inline-block
			width: 0
			height: 2px
			left: 0
			bottom: 0

			transition: width .5s ease, background .5s ease
			visibility: hidden

		&:hover::before,
		&:focus::before
			width: 100%

			background: currentColor
			opacity: .6

			visibility: visible

		&::after
			content: ''
			position: absolute

			display: block
			right: 0
			bottom: 0
			width: 0
			height: 2px

			background: currentColor
			opacity: .6

			transition: width .5s ease

		&:hover::after,
		&:focus::after
			width: 100%

			background: transparent

			transition: all 0s ease

	.header

		&__nav
			margin-right: 60px

	.callback-form
		textarea
			height: 33px

	.contacts-block,
	.sales-block

		&__tel

			a
				color: $def-color

		&__mail

			a
				color: $accent

	.klenovyi-park-page,
	.vyshnevyj-sad-page

		.main

			&__title
				margin-bottom: 0

				h2
					margin-bottom: 20px

			&__location
				font-size: 16px

		.callback
			margin-bottom: $mgsection * 2

	.sales

		&__title
			h3
				font-size: $h2

	.index-page

		.callback

			.container
				padding-left: 8%
				padding-right: 8%

			&__img
				max-width: 60%

			.callback-form
				top: calc(50% - 235px)
				left: 65%
				right: auto

				padding-top: 0

	/* main screen */
	.main
		top: $dtop
		min-height: calc(100vh - 64px)

		margin-bottom: $mdhero

		&__title

			h1
				font-size: $h1

			h2
				font-size: $h1

	/* index/projects */
	.projects

		.container
			flex-direction: row

		&__counter
			margin-left: 5%
			margin-bottom: 0
			margin-right: 60px

		&__button
			margin-top: 0

		.information

			&__contacts

				a
					color: $def-color

	/* index/about */
	.about
		&__title
			h3
				font-size: $h2

	/* projects/current */
	.current

		.project-block

			&__name
				h4
					font-size: $h3

			&__description
				font-size: $sm

			&__cost-price
				font-size: $lg

			&__stage
				font-size: $sm

	/* projects/done */
	.done

		.grid-sizer, .project-block
			width: 29%

		.gutter-sizer
			width: 4%

		&__title
			h3
				font-size: $h2

		.project-block

			&__description
				font-size: $sm

			&__stage
				font-size: $sm

	/* klenovyi-park */
	.project-page,
	.klenovyi-park-page

		.main

			&__title
				span
					font-size: $h3
					// margin-bottom: 10px

				h2
					padding: 3px 12px 12px
					font-size: $h1

		/* klenovyi-park/advantages */
		.advantages

			&__block
				p
					font-size: $sm

		/* klenovyi-park/callback */
		.callback

			&__title

				h3
					font-size: $h2

	.stage

		&__title

			h3
				font-size: $h2

		&__readiness
			font-size: $h2

	/* flats */
	.flats

		&__title

			h3
				font-size: $h2

		&__holder
			display: flex

		&__wrapper
			max-width: 38%
			width: 100%
			flex-shrink: 0
			margin-right: 2%

			transition-property: max-width
			transition-duration: .7s
			transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

			// &:hover
			// 	max-width: 50%
			// 	width: 100%

			// 	transition-property: max-width
			// 	transition-duration: .7s
			// 	transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

			// &:hover ~ .flats__room
			// 	max-width: 47%

			// 	transition-property: max-width
			// 	transition-duration: .7s
			// 	transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		&__image-wrapper
			padding: 100px 25px 100px 0
			margin-bottom: 0
			max-width: none

			&::before
				width: calc(50% + 50vw)

				border-radius: 5px

			svg
				top: 100px
				left: 50%
				right: 0
				transform: translateX(-50%)

				padding: 0 25px 0 0

	.room
		max-width: 59%

		transition-property: max-width
		transition-duration: .7s
		transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		&__wrapper
			max-width: none

		&__title
			display: block
			margin-bottom: 0

			line-height: 1.15

		&__text

			&:not(:last-child)
				margin-bottom: 6px

		&__image-wrapper

			&.image-loaded
				// max-height: 500px
				max-width: 100%

				& > *
					max-height: 600px
					max-width: 100%
					width: auto

		&__description
			padding: 0

		&__button

	.level

		&__list
			// height: 162px

		&__title
			display: inline-block
			margin-bottom: 0

	/* info */
	.info
		margin-bottom: $mgsection

		&__description // вартість від
			font-size: $sm

		&__cost-price // 15 000
			font-size: $h2

		&__cost-what // грн м.кв.
			font-size: $msm

		&__location
			span
				font-size: $sm

		&__stage
			time
				font-size: $sm

	/* course */
	.course

		.swiper-container
			// выход за рамки --off
			left: auto
			right: auto

			max-height: 500px // 16/9
			width: 100%
			margin: 0

		.swiper-slide

			img
				border-radius: 5px

		&__title

			h3
				font-size: $h2
				margin-bottom: 40px

		&__info
			max-width: 350px

			font-size: $sm

			// точки пагинации
		.swiper-pagination-bullet
			transition: transform .7s cubic-bezier(.455,.03,.515,.955), top .7s cubic-bezier(.455,.03,.515,.955)!important

	/* index/advantages */
	.index-page

		.advantages

			&__block
				margin-right: 3.5%

				p
					font-size: $sm

	/* klenova-alyea, pechenijin/another-projects */
	.another-projects

		&__title
			h3
				font-size: $h2
				margin-bottom: 40px

		.project-block

			&__bg
				max-width: 304px

	/* about-us/history */
	.history

		.swiper-slide
			padding-left: 0

		&__description
			max-width: 17em

			p
				max-width: 25em

				font-size: $sm

		.swiper-pagination
			// transform: translateX(0)

			// margin-left: auto

			// точки пагинации
		.swiper-pagination-bullet
			font-size: $def-size

			transition: transform .7s cubic-bezier(.455,.03,.515,.955), left .7s cubic-bezier(.455,.03,.515,.955) !important

			// треугольник
			&::after
				transition: transform .7s ease !important

	.reports

		&__title

			h3
				font-size: $h2

@media only screen and (min-width : 1200px)

	/* klenovyi-park/advantages */
	.klenovyi-park-page

		.advantages

			&__block
				margin-right: 4%

	.room

		&__select
			ul
				width: 180px
				height: 99px

		&__floor

			.icon
				right: 26px

			.icon-cross
				right: 29px

	/* info */
	.info

		.container
			justify-content: flex-start

		&__value,
		&__location
			margin-right: 125px

	/* index/projects */
	.projects

		&__active
			justify-content: flex-start

		.project-block
			margin-left: 10%

	.course

		.swiper-container
			max-height: 600px // 16/9

@media only screen and (min-width : 1368px)

	.container
		padding: 15px 55px 19.5px

	.information

		.container
			padding: 15px 12px 19.5px

	.course

		.swiper-container
			max-height: 700px // 16/9

	.team

		.container
			padding-left: 2%

	.contacts-page

		.contacts
			top: $dtop

	.callback-form
		right: 10%

	// 404
	.not-found

		&__pattern
			background-size: contain
