=flex-center()
	display: flex
	align-items: center
	justify-content: center

=button-mobile()
	min-width: 190px
	min-height: 40px

=border-none()
	padding-bottom: 0
	border-bottom: 0
	&:hover,
	&:focus
		padding-bottom: 0
		border-bottom: 0

	&::before, &::after
		display: none

=border-dashed()
	padding-bottom: .2em
	border-bottom: 1px dashed rgba($def-color, .25)
	transition: border-bottom .2s ease
	&:hover,
	&:focus
		padding-bottom: .2em
		border-bottom: 1px dashed transparent

// выход за рамки
=break-out()
	position: relative
	left: 50%
	right: 50%

	width: 100vw
	margin-left: -50vw
	margin-right: -50vw

=break-in()
	position: static
	left: auto
	right: auto

	width: auto
	margin-left: 0
	margin-right: 0

=absolute-center()
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

=absolute-all($num)
	position: absolute
	top: $num
	bottom: $num
	right: $num
	left: $num

=bp-min($width)
	@media only screen and (min-width: $width#{px})
		@content
