@import "fonts"
@import "libs"
@import "vars"
@import "mixins"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: inherit
	opacity: 1

*:-moz-placeholder
	color: inherit
	opacity: 1

*::-moz-placeholder
	color: inherit
	opacity: 1

*:-ms-input-placeholder
	color: inherit
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: inherit
body input:required:valid,
body textarea:required:valid
	color: inherit

html, body
	height: 100%

body
	position: relative
	min-width: 320px

	font-size: $mdef-size
	font-family: $def-font
	color: $def-color
	line-height: 1.4

	overflow-x: hidden

	opacity: 1
	-webkit-font-smoothing: antialiased

img
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4
	line-height: 1
	margin: 0
	font-weight: $bold
	margin-bottom: 15px

h1
	font-size: $mh1

h2
	font-size: $mh2

h3
	font-size: $mh3

h4
	font-size: $mlg

p
	margin: 0
	margin-bottom: 10px
	max-width: 34em

ul, li
	list-style-type: none
	margin: 0
	padding: 0

a
	color: $accent
	text-decoration: none

address
	font-style: normal

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align: middle

textarea
	resize: none

section
	position: relative

input,
textarea,
select,
button,
a,
span
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

button
	font-weight: inherit

.wrapper
	height: 100%

.container
	position: relative
	width: 100%
	max-width: 1440px
	margin: 0 auto
	padding: 15px 4% 19.5px

// highlighting active page by page-class
.index-page a.index-page,
.projects-page a.projects-page,
.klenovyi-park-page a.klenovyi-park-page,
.vyshnevyj-sad-page a.vyshnevyj-sad-page,
.project-page a.project-page,
.about-us-page a.about-us-page,
.contacts-page a.contacts-page
	color: $accent
	pointer-events: none
	.icon
		fill: $accent

.visually-hidden
	position: absolute

	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0

	clip: rect(0 0 0 0)
	overflow: hidden

.hang-left
	margin-left: -.5em

.disabled
	pointer-events: none
	user-select: none
	opacity: .25
	border: 0 !important

.invalid
	border-bottom-color: $feat !important

// fade lazy-elements in
.lazyload,
.lazyloading
	filter: opacity(0)
	will-change: filter

.loading,
.lazyload,
.lazyloaded,
	filter: opacity(1)

	transition: filter .5s ease-in

.loading
	background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0))

.loading::before
	content: ''
	position: absolute
	z-index: 1
	top: 50%
	left: 50%

	margin-top: -16px
	margin-left: -16px
	width: 32px
	height: 32px

	border-radius: 32px
	animation: scaleout 1.2s infinite ease-in-out

	mix-blend-mode: soft-light
	background-color: rgba(0, 0, 0, .9)

@keyframes scaleout
	0%
		transform: scale(0)

	100%
		transform: scale(1)
		opacity: 0

// headroom
.headroom--pinned
	transform: translateY(0%)

.headroom
	will-change: transform
	transition: transform 200ms linear

.headroom--unpinned
	transform: translateY(-100%)

//Модули
@import "modules/modules"

// Страницы
@import "pages/index"
@import "pages/projects"
@import "pages/klenovyi-park"
@import "pages/vyshnevyj-sad"
// @import "pages/pechenijin"
@import "pages/about-us"
@import "pages/contacts"
@import "pages/reports"
@import "pages/404"

// Всегда в конце
@import "media"
