.contacts-page

	.wrapper
		display: flex
		flex-direction: column
		min-height: 100vh

	.footer
		margin-top: auto

	.contacts
		top: $mtop

		margin-bottom: $mgsection

		.container
			display: flex
			flex-direction: column

		&__map
			position: relative
			width: 100%
			height: 448px
			overflow: hidden

			padding-bottom: 56.25% // Comes from the aspect ratio 16:9. 9/16x100 = 56.25
			order: 2
			margin-bottom: $mgsection

			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0

				display: inline-block

				background-image: url(../img/bg/ars-dim-map_1440.jpg)

			iframe
				top: 0
				left: 0
				height: 100%
				width: 100%
				position: absolute

		.callback-form
			order: 3
