.about-us-page

	.main
		position: relative

		background: transparent

		&::before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0

			background: rgba($accent, .5)

		&__title

			h2
				max-width: 18em
				font-weight: normal
				color: $light
				display: inline-block
