.index-page

	.advantages
		margin-bottom: $mgsection

		.container
			animation-duration: 1.5s
			animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

		&__block
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-bottom: 50px
			max-width: 288px
			&:last-child
				margin-bottom: 0

			.icon
				max-height: 50px
				margin-bottom: 20px
				fill: $accent

				&-experience
					max-width: 47px
				&-care
					max-width: 54.7px
				&-responsibility
					max-width: 77px

			p
				font-size: $msm
				margin-bottom: 0
