.history
	margin-bottom: $mgsection

	.container
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s

	.swiper-container-horizontal
		+break-out()

		// чёрточки под пагинацией
		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 100%

			display: inline-block

			border-bottom: 1px dashed rgba($inactive, .5)

	.swiper-slide
		position: relative
		display: flex
		justify-content: center
		flex-wrap: wrap
		overflow: hidden
		z-index: 1

		padding: 23px 16px 60px

		color: #fff

		background-position: center !important
		background-size: cover !important
		background-repeat: no-repeat !important

		&::before
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-image: linear-gradient(108.48deg, rgba(0, 127, 255, 0.75) 0%, rgba(2, 24, 43, 0.75) 100.34%)
			background-size: cover
			background-position:center
			background-repeat: no-repeat
			z-index: -1


	&__img
		position: relative
		max-width: 360px

		width: 100%
		height: 270px
		margin-bottom: 22px
		flex: 1 0 auto

		img
			object-fit: cover
			object-position: center
			
			height: 100%

			margin: auto
			text-align: center
			border-radius: 5px
			animation-duration: 1s
			animation-fill-mode: both


	&__img-year
		position: absolute
		top: 0
		transform: translate(.5em, -.75em)

		padding: 8px 13px

		color: $accent
		font-weight: $bold

		background-color: #fff
		box-shadow: 0 5px 10px rgba(0, 127, 255, .25)
		border-radius: 90px

	&__description
		max-width: 360px

		p
			font-size: $msm

	// пагинация
	.swiper-pagination
		position: static
		width: 100% !important
		// height: 63px

		display: block
		// align-items: flex-end
		// justify-content: space-around
		padding: 0 0 15px

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

	// точки пагинации
	.swiper-pagination-bullet
		position: relative
		width: auto
		height: auto

		margin: 0 !important
		padding: 1em 1.3em 0 1.3em

		font-size: $sm
		color: $def-color

		background: none
		opacity: 1
		
		transition: transform .3s cubic-bezier(.455,.03,.515,.955)

		touch-action: manipulation
		user-select: none

		// треугольник
		&::after
			content: ''
			position: absolute
			left: calc(50% - 5px)
			bottom: -1.2em
			width: 0
			height: 0
						
			display: inline-block

			border-left: 5px solid transparent
			border-right: 5px solid transparent
			border-bottom: 10px solid $inactive
			filter: opacity(.5)

			transition: bottom .3s ease

	// активная точка пагинации
	.swiper-pagination-bullet-active
		// transform: translateY(-.2em)

		color: $accent
		
		pointer-events: none

		// треугольник
		&::after
			bottom: -1.2em
			filter: opacity(1)
			// transform: translateY(1.2em)	

	.swiper-pagination-bullets-dynamic
		left: auto !important
		transform: translateX(0) !important
	
	.swiper-pagination-bullet-active-next,
	.swiper-pagination-bullet-active-next-next,
	.swiper-pagination-bullet-active-prev,
	.swiper-pagination-bullet-active-prev-prev,
	.swiper-pagination-bullet
		transform: scale(1) !important
	
	.swiper-pagination-bullet-active
		transform: translateY(-.2em) !important