.team
	margin-bottom: $mgsection

	&__title
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s
		
		h3
			margin-bottom: 30px

	&__content
		display: flex
		flex-wrap: wrap
		justify-content: center

	&__person-block
		margin-bottom: 40px
		
		animation-duration: 1.5s
		animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1) 0s
		
		&:nth-child(2n)
			animation-delay: .2s

	&__image-wrapper
		position: relative
				
		width: 270px
		height: 270px

		&.image-loaded

			& > *
				box-shadow: 0 5px 10px rgba($accent, .15)

		& > *
			position: absolute
			top: 0
			left: 0

			width: 100%
			height: 100%

	&__person-image
		border-radius: 5px
		object-fit: cover
		object-position: center


	&__text
		border-radius: 5px
		background-color: #fff
		box-shadow: 0 5px 10px rgba($accent, .15)
		padding: 20px 15px 30px
		text-align: right
		transition: transform .4s ease-in-out
		transform: translate(-2%, -10%)
		margin-left: auto
		max-width: 250px
		width: 100%

		h4
			margin-bottom: 5px
			line-height: 1.3

		span
			font-size: $msm
			// line-height: 1.3
			display: inline-block
