.callback

	&__map
		+break-out()

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0

			display: inline-block

			background-image: url(../img/bg/ars-dim-map_1440.jpg)