+b.SECTION.main
		.main-slider.swiper-container
			.swiper-wrapper
				.swiper-slide.swiper-slide--cherry
					.container
						+e.title--cherry
							+e.P.image-wrapper--cherry
								img(src="../img/vyshneviy-sad-shadow.svg", alt="ЖК «Вишневий Сад»")
							h1 Житловий комплекс закритого типу в Дрогобичі

							+e.A.button.button--white(href='/vyshnevyj-sad.html', title='На сторінку проекта')
								span до проекту

						+b.slide-buttons
							+e.A.button--cherry.button--cherry.to-slide-0
								span ЖК
								span «Вишневий Сад»

							+e.A.button--white.button--white.to-slide-1
								span ЖК
								span «Кленовий Парк»

				.swiper-slide.swiper-slide--green
					.container
						+e.title--green
							+e.P.image-wrapper--green
								img(src="../img/klenovyi-park-shadow.svg", alt="ЖК «Кленовий Парк»")
							h1 «Кленовий Парк» — комфортне житло у Трускавці

							+e.A.button.button--white(href='/klenovyi-park.html', title='На сторінку проекта')
								span до проекту

						+b.slide-buttons
							+e.A.button--white.button--white.to-slide-0
								span ЖК
								span «Вишневий Сад»

							+e.A.button--green.button--green.to-slide-1
								span ЖК
								span «Кленовий Парк»






//- +b.SECTION.main(data-parallax="scroll" data-image-src="../img/bg/klenovyi-park-1_1920.jpg")
//- 	.container
//- 		+e.title.animated
//- 			h1 #[span.hang-left «]Кленовий Парк» — комфортне житло у Трускавці

//- 		+e.A.button.button--white(href='/klenovyi-park.html', title='На сторінку проекта')
//- 			span до проекту