+b.SECTION.projects.animated
	.container
		+b.FIGURE.counter.__counter
			+e.SVG.circle-chart(viewbox="0 0 35.83098862 35.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg")
				+e.CIRCLE.background(stroke="#f2f2f2" stroke-width="4" fill="none" cx="17.91549431" cy="17.91549431" r="15.91549431")
				+e.CIRCLE.circle(stroke="#007fff" stroke-width="4" stroke-dasharray="0,100" stroke-linecap="round" fill="none" cx="17.91549431" cy="17.91549431" r="15.91549431")
				+e.SPAN.num(data-count=1)#projectActiveNum 0
				+e.SPAN.info будується

			+e.SVG.circle-done(height="34" width="34")
				circle(cx="17" cy="17" r="17" fill="#007fff")
				+e.SPAN.num--done(data-count=12)#projectsDoneNum 0
				+e.SPAN.info--done зданих об’єктів

				each object in btn.indexProjects
					+e.A.button.button--blue(href= object['src'], title='Детальніше про проект')
						span= object['title']

		+e.active
			each object in data.indexProjectsKA
				+b.project-block.lazyload(data-bg= object['image'])
					+e.name
						h4= object['name']
					+e.ADDRESS.description
						span= object['place1']
						span= object['place2']
					+e.A.button.button--white(href= object['src'])
						span= object['title']

			each object in data.indexProjectsPC
				+b.project-block.lazyload(data-bg= object['image'])
					+e.SPAN.info-button(onclick="") i
						+b.information--top-right
							.container
								+e.STRONG.title= object['infoTitle']
								+e.P.description= object['infoDescription']
								+e.text
									p= object['infoSpan1']
									p= object['infoSpan2']
									p= object['infoSpan3']
								+e.contacts
									strong= object['infoTitle2']
									a(href="tel:"+object['infoTel1'])= object['infoTel1']
									a(href="tel:"+object['infoTel2'])= object['infoTel2']
					+e.name
						h4= object['name']
					+e.ADDRESS.description
						span= object['place1']
						span= object['place2']
					+e.B.button.button--data= object['title']
