+b.SECTION.done
	.container
		
		+e.title.animated
			h3 Здані об’єкти

		+e.UL.content.grid
			each object in data.projectsDone
				+b.LI.project-block.grid-item.animated
					+e.IMG.bg.lazyload( data-src= object['image'], alt= object['name']+', '+object['place'])
					+e.text
						+e.name 
							h4= object['name'] 
						+e.ADDRESS.description= object['place']
						+e.stage
							time(datetime= object['datetime'])= object['stage']