+b.SECTION.about
	.container.animated
		each object in data.indexAbout
			+e.text
				+e.title
					h3= object['h3']
				+e.description
					p= object['text']

		+e.img.loading
			img.lazyload(
				data-srcset='../img/team/rudnytskyi-2_960.jpg 960w, ../img/team/rudnytskyi-2_640.jpg 640w', 
				data-src='../img/team/rudnytskyi-2_320.jpg',
				src='//:0',
				alt='Віктор Рудницький')