+b.SECTION.callback
	.container.animated
			
		+e.img.loading
			img.lazyload(
				data-srcset='../img/team/kochneva-2_1560.jpg 1560w, ../img/team/kochneva-2_1280.jpg 1280w, ../img/team/kochneva-2_640.jpg 640w', 
				data-src='../img/team/kochneva-2_320.jpg',
				src='//:0',
				alt='Ірина Кочнєва')

		include ../../modules/callback-form
		include ../../modules/contacts-block